[2017-12-09 13:04] mjsteinbaugh opened #1 "GitHub installation fails due to missing GenomeInfoDbData"
Hi, I'm working on a package named [basejump](https://github.com/steinbaugh/basejump) that uses [ensembldb](https://github.com/jotsetung/ensembldb) as a dependency. I've recently run into GenomeInfoDb failing to install because [GenomeInfoDbData](https://github.com/Bioconductor/GenomeInfoDbData) doesn't get set up properly. I can't figure out why this is happening. The imports in both ensembldb an

[2017-12-09 13:05] mjsteinbaugh commented on #1
@jotsetung Any thoughts?

[2017-12-09 14:00] mtmorgan commented on #1
This 'works for me'
[code]
So I wonder what your sessionInfo()? Here's mine
[code]

[2017-12-09 20:55] jotsetung commented on #1
I also tried it on a fresh R installation with:
[code]
and did not get any errors. My session info is:
[code]

[2017-12-11 15:44] mjsteinbaugh commented on #1
Weird, this is still happening for me on a clean install using macOS 10.13.1, R 3.4.3:

This part installs clean with no issues.

[code]

Still running into the error when attempting to install GenomeInfoDb:

[code]

Here's the console output:

[code]

Here's my `sessionInfo()`:

[code]

Maybe this is an issue with Bioconductor 3.6 (BiocInstaller_1.28.0)? It looks like you guys are both running de

[2017-12-11 17:45] mtmorgan commented on #1
The versions of devtools are the same; also no problem for me with BiocInstaller 1.28.0. I don't recognize this `Using GitHub PAT from envvar GITHUB_PAT` from your output; have you configured something in a way that interferes?

[2017-12-12 15:23] mjsteinbaugh commented on #1
Maybe that's it. I'll try taking that out and see if I still come across the error.

[2018-01-26 10:16] mtmorgan commented on #1
Closing the issue after inactivity.

[2018-01-26 10:16] #1 closed

[2018-10-15 13:19] lawremi opened #2 "Comparing Seqinfo objects"
It might be nice to support some comparison operations between two Seqinfo objects, particularly `match()`. Then, if Seqinfo were a Vector (shouldn't it be?), we could do, for example:
[code]
to check whether the universe of `which` is a subset of that of `x`.

I think `match()` should consider the tuple of sequence name and genome version, where the `NA` version is wildcard. I noticed that e.g. `

[2018-10-15 16:54] hpages commented on #2
Checking that 2 objects have ranges on compatible underlying sequences should be done with `merge(seqinfo(x), seqinfo(y)) ` or some variant of it. There are numerous examples in GenomicRanges/setops-methods.R and GenomicRanges/GNCList-class.R. Isn't your use case covered by this?

`match()` should be consistent with `==` and `==` should not handle wildcards or we will end up with things like `x ==

[2018-10-15 17:11] lawremi commented on #2
I was thinking about using `merge()` but I don't really want to merge anything. I just want to check that one set of ranges come from the same context as another set. Why not have an explicit check? In the common query case, we want to check whether the query comes from a subset of the region covered by the database, and it would be nice to make that explicit. You're right though that it doesn't m

[2018-10-15 17:32] hpages commented on #2
`merge()` performs both: the check and the merging. If you are not interested in the merging, just ignore the returned value. That's what the `match()` method for GenomicRanges objects does:
[code]
We could add a `check_compatible_seqinfo()` in GenomeInfoDb. It would just do:
[code]
Would that help?

[2018-10-15 20:01] lawremi commented on #2
That would be OK. I would have expected the checking part to be factored out from `merge()`. Anyway, could this please be exported? I guess it would need a camel case name.

[2018-10-15 21:00] hpages commented on #2
[Done](https://github.com/Bioconductor/GenomeInfoDb/commit/f1261c6cac41b7ddeaa1218b41bb9de8be092dbf).

The hard work in `merge()` is the checking, not the merging. The merging just happens to be very easy to do along the checking, as a side task, with almost no extra cost. An analogy would be a `findSmallestFactor()` function that finds the smallest non-one factor of a positive integer. Once you h

[2018-10-19 00:55] hpages commented on #2
Hope that worked for you. Closing this now.

[2018-10-19 00:55] #2 closed

[2018-11-10 21:48] lima1 opened #3 "seqlevelsStyle on GRanges throws warning"
[1] "UCSC"
Warning message:
In scan(file = file, what = what, sep = sep, quote = quote, dec = dec,  :
  EOF within quoted string

R version 3.5.1 (2018-07-02)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS  10.14.1

Matrix products: default
BLAS: /Library/Frameworks/R.framework/Versions/3.5/Resources/lib/libRblas.0.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.5/Resou

[2018-11-12 02:09] #3 closed

[2018-11-12 02:10] mtmorgan commented on #3
Thanks @lima1 !

[2019-05-01 10:01] tijsbliek opened #6 "BSgenome"

[2019-05-01 11:09] lshep commented on #6
If you are going to open an issue - please provide a description of the issue you are having.

[2019-05-01 11:09] #6 closed

[2019-07-30 16:14] yesitsjess opened #7 "Error with Seqinfo"
Hi, I'm trying to use the [CERES](https://github.com/cancerdatasci/ceres) package which depends on GenomeInfoDb. It fails due to the following error:

`Seqinfo(genome="hg19")`
Error in function (type, msg, asError = TRUE)  :
  Failed connect to ftp.ncbi.nlm.nih.gov:21; Connection refused

I've checked fetchExtendedChromInfoFromUCSC and it appears to be supported - is this a problem with my proxy s

[2019-07-30 18:06] lshep commented on #7
Someone might have a better thought but:
What versions of R and Bioconductor are you using?  `sessionInfo()`
Currently when I run I can get information back:
[code]

so the thought of a proxy setting could be the case.  Do you know if you have issues connecting to other websites or datasets besides this one?  Are you running from an institution that might have firewall and proxy set up?
There is s

[2019-07-31 08:43] yesitsjess commented on #7
`> sessionInfo()
R version 3.5.0 (2018-04-23)
GenomeInfoDb_1.18.2
BiocInstaller_1.32.1`

I'm definitely behind a firewall but I've set up my proxy settings using
`Sys.setenv(http_proxy="proxy")
Sys.setenv(https_proxy="proxy")`

Using the curl package works fine, e.g.
`readLines(curl(url="http://www.google.co.uk"))`

It's a bit of a pain, but I'd be happy to download the correct information from UC

[2019-07-31 13:47] mtmorgan commented on #7
It would be helpful to debug this. I believe the essential code is

[code]

I would focus on getting that to work. I believe the `http_proxy` setting should not be "proxy", but rather the IP address of the proxy server, from the help page:

I would also experiment with setting `options(download.file.method = "libcurl")` or "wininet".

[2019-07-31 15:16] yesitsjess commented on #7
No problem with that:
`> url = "http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/chromInfo.txt.gz"`
`> download.file(url, tempfile())`
`trying URL 'http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/chromInfo.txt.gz'`
`Content type 'application/x-gzip' length 837 bytes`
`==================================================`
`downloaded 837 bytes`

Also I know it's not actually proxy but

[2019-07-31 15:20] yesitsjess commented on #7
If there's a workaround anyone's aware of using something closer to `download.file(url, tempfile())` please let me know because that never fails and the fact the other fails 90% of the time is very frustrating

[2019-07-31 15:33] mtmorgan commented on #7
after it fails, what does the command `traceback()` say?

[2019-07-31 15:48] yesitsjess commented on #7
[code]

[2019-07-31 17:29] mtmorgan commented on #7
So then the problematic call looks like it is
[code]

[2019-12-05 16:47] Roleren opened #8 "Mitocondrial chromosome naming, seqlevelsStyle()"
I thanks for a  nice function, I use seqlevelsStyle a lot.

One thing has always bother edme, is for the mitocondrial chromosome.

Two objects with same naming convention as these:
[code]
Can show seqlevels as this:
[code]
So even though they use the same seqlevelsStyle, the objects does not name the mitochondrial chromosome the same.
Is there a reason for this ? :)

[2019-12-05 17:53] hpages commented on #8
I can't reproduce this :(
[code]
**sessionInfo()**
[code]

[2019-12-06 09:46] Roleren commented on #8
Basic reproduction is this:
[code]
And this one gives a warning
[code]

[code]

[2020-01-29 11:58] Roleren commented on #8
So to sum up, this is the case:

seqlevelsStyle support shifting of style when the cases are clear.

When there are a mix of styles with only 2 chromosomes, it switches correctly but gives you a warning.

When there are a mix of styles with > 2 chromosomes, it switches incorrectly. This is the case I would like, and the most logical is that it behaves as the case for 2 chromosomes, giving a warnin

[2020-03-23 20:12] lawremi opened #9 "dynamic Seqinfo lookup for hg19 failing"
The HelloRanges package is failing in devel and release because the dynamic resolution of sequence information from UCSC is broken for hg19:
[code]

I wonder if it would be better to include a static copy of this information, at least for the most commonly accessed genome? Stabler, faster and more reproducible.

[2020-03-24 12:13] hpages commented on #9
Should be fixed in GenomeInfoDb 1.23.14 (see commit 573077ce).

A static copy would be faster but would become out-of-sync when the genome changes, like here. So we would need to have some mechanism in place to alert us when this happens e.g. some long tests (they're run once a week) that pull the sequence information again from UCSC and compare to the static copy.

[2020-03-24 12:13] #9 closed

[2020-03-24 12:57] lawremi commented on #9
Thanks. That the genome can change is problematic from the reproducibility standpoint. We may want to ensure stability, i.e., be purposefully out of sync, and only update once a release or something, with the information tied to the package version.

[2020-03-26 14:06] Roleren commented on #8
I think this is quite a serious issue, I get it all the time warnings like this:
Warning messages:
[code]

This is after they should have had equal seqlevels naming.

So I think a lot of people are losing the sex chromosomes + sometimes mitochondrial, if they use different seqnames and trust that seqlevelsstyle will fix it.

[2020-06-12 14:31] MuShuw opened #10 "ref : Macaca Fascicularis 5.0, missing style"
Hello.

We are working with VCFs of Macaca Fascicularis.
We had an issue with your function extractSeqLevelsByGroup, called by MutationalPatterns::read_vcfs_as_granges .
The chromosomes style notation of Macaca Fascicularis is not available.
Could BSgenome.Mfascicularis.NCBI.5.0 be added to the supported organism ?
Macaca Fascicularis is an alternative to Macaca Mulatta on which research is increa

[2020-06-12 16:05] mtmorgan commented on #10
Can you please provide a reproducible example of the problem?

[2020-06-12 18:36] hpages commented on #10
I don't see that `MutationalPatterns::read_vcfs_as_granges` calls "our function" `extractSeqLevelsByGroup`. I don't know what `extractSeqLevelsByGroup` is or what it does. AFAICT there is no such function in the GenomeInfoDb package and I don't see one in the MutationalPatterns package either (looking at the master branch only).

So yes please follow Martin's advice as it's hard to help you withou

[2020-06-15 14:42] emailjack opened #11 "Installing DESeq2 Error: no package called ‘GenomeInfoDbData’"
Just updated my previous R to 4.01 and now I cant load DESeq2.

When trying to load it again I get this:

Loading required package: GenomicRanges
Loading required package: GenomeInfoDb
Error: package or namespace load failed for ‘GenomeInfoDb’ in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]):
 there is no package called ‘GenomeInfoDbData’
Error: package ‘GenomeInfoDb’ could not

[2020-06-15 14:51] mtmorgan commented on #11
Can you clarify how you updated your R to 4.0.1?

[2020-06-16 13:23] emailjack commented on #11
uninstalled R. Downloaded the new one:

R version 4.0.1 (2020-06-06)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Sierra 10.12.6

[2020-06-16 15:40] mtmorgan commented on #11
I'm trying to reproduce your problem, so being as precise as possible is important. I downloaded the R-4.0.1.pkg link from https://cran.r-project.org/bin/macosx/ and installed it as an administrator.

I then launched the R application (from the finder, not RStudio) and installed BiocManager
[code]
and the current version of Bioconductor
[code]
And finally installed GenomeInfoDbData
[code]
So I've

[2020-06-18 13:27] MuShuw commented on #10
Hello,
I looked to verify if I didn't make an error, but extractSeqlevelsByGroup is a function of GenomeInfoDb.
It can be found here : https://github.com/Bioconductor/GenomeInfoDb/blob/master/R/seqlevelsStyle.R#L222

I was allowed to share a bit of a vcf file that can be found here : https://github.com/MuShuw/sharable/blob/master/test.vcf

We use R 3.6.5 on the project.

The next lines can reprodu

[2020-06-18 16:30] hpages commented on #10
Yes I see now that GenomeInfoDb has an `extractSeqlevelsByGroup` function. I originally missed it because you reported it with the incorrect spelling (`extractSeqLevelsByGroup`) (case matters in R).

If you're using R 3.6.5  that means you're using an old and unsupported version of Bioconductor. The current version (BioC 3.11) is only supported on R 4.0. Bioconductor evolves quickly and `getChromI

[2020-06-27 17:56] lima1 opened #12 "unable to find an inherited method for function ‘seqinfo<-’ for signature ‘"TxDb"’"
Hi,

I noticed that seqlevelsStyle<- does not work anymore for TxDb objects:

[code]

Is this functionality permanently removed or a bug?

Thanks,
Markus

[2020-06-27 18:06] mtmorgan commented on #12
This is not intended. Are your packages current `BiocManager::valid()`? What is your `sessionInfo()`? Perhaps also @hpages  will tell us, based on answers to these, whether you should update (from source) particular pacakges.

[2020-06-27 18:15] lima1 commented on #12
I think so, just updated to a fresh 4.0.2 installation after seeing my build failure in devel (one of the two test failures was a bug in my package)

https://bioconductor.org/checkResults/devel/bioc-LATEST/PureCN/malbec1-checksrc.html

[code]

[2020-06-27 18:21] mtmorgan commented on #12
BiocManager suggests that you update GenomeInfoDb (and others, but these don't seem relevant...)

[2020-06-27 18:23] lima1 commented on #12
Sorry for the confusion. This is the "too new" package, I tried both current devel and Github from last night. Both fail with same error.

[2020-06-27 20:29] hpages commented on #12
This is on me. I recently made a few changes to the `seqlevelsStyle()` setter (commit 11119c2f247264301e07f1d756c3ed29a6ae24c1), but, unfortunately, these changes broke it on TxDb objects.  FWIW the same thing is happening with BSgenome objects and I'm in the process of fixing that. Next I'll take care of TxDb objects.

The improvement I've been working on is that the `seqlevelsStyle()` setter now

[2020-07-02 08:08] hpages commented on #10
@MuShuw Have you made progress on this?

Heads up: with BSgenome 1.57.3 you can now switch the style of _all_ the sequence names in BSgenome.Mfascicularis.NCBI.5.0 with just:
[code]
Then:
[code]
Hope this helps,
H.

[2020-07-02 08:23] hpages commented on #12
Fixed in GenomicFeatures 1.41.1 (requires GenomeInfoDb 1.25.7):
[code]
All the sequences got renamed except chrM because it does not belong to the GRCh37.p13 assembly (see https://genome.ucsc.edu/cgi-bin/hgGateway?db=hg19):
[code]

H.

[2020-07-02 13:01] lima1 commented on #12
Thanks a lot, that’s great!

[2020-07-02 13:01] #12 closed

[2020-07-02 13:51] MuShuw commented on #10
@hpages Hello,

We haven't had R 4.0 installed on the server yet. I will give you an update once the former solution will be tested.

BSgenome 1.57.3 is the lastest version and that last solution is the switch you were working on if understand porperly ? If so I guess I should go for this solution first once BioC 3.11 is available to me ?

Thank you for your help Hervé.

Regards,
Elyas.

[2020-07-06 19:56] LiNk-NY opened #13 "seqlevelsStyle setter does not work with specific genome build"
Hi Hervé, @hpages
I encountered this issue when working for a fix for `TCGAutils` in devel.
Am I taking the right approach here?
Best,
Marcel

[code]

<sup>Created on 2020-07-06 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-06 20:37] hpages commented on #13
Marcel,

`seqlevelsStyle()` now uses the genome field to infer the style so getting it right is important. If you manually set the genome to `hg18` you're saying "this is genome hg18" so when you do `seqlevelsStyle() <- "UCSC"` nothing happens because `seqlevelsStyle()` sees that this is already a UCSC genome.

So one way to avoid this is to change the genome build _after_ you change the seqlevels

[2020-07-10 02:24] hpages commented on #13
Hi Marcel @LiNk-NY, hope you were able to sort this out. Don't hesitate to reopen the issue if not.

[2020-07-10 02:24] #13 closed

[2020-07-10 05:18] hpages commented on #10
Hi @MuShuw,

Just to clarify the recent improvements to the `seqlevelsStyle()` setter are in the _master_ branch of BSgenome (in version >= 1.57.3). The master branch is what goes in BioC 3.12 which is the current development version of Bioconductor. Since the improvements also introduce some subtle changes of semantic I'm not planning to backport them to the _RELEASE_3_11_ branch of BSgenome. In

[2020-07-10 13:07] LiNk-NY commented on #13
Hi Hervé,
Thanks for the response. It works for me now.
I'm updating some functions in `TCGAutils` to coincide with this change.

[2020-07-20 12:39] csoneson opened #14 "Changing seqlevelsStyle of BSgenome fails because of multiple genomes"
Hi,

I think this is related to https://github.com/Bioconductor/GenomeInfoDb/issues/12 and https://stat.ethz.ch/pipermail/bioc-devel/2020-July/016966.html (`seqlevelsStyle` now being able to rename contigs and scaffolds).
Trying to convert the `seqlevelsStyle` of the UCSC hg19 BSgenome (same for hg38) fails:

[code]

gives

[code]

For completeness, the reason I noticed this is that it causes the

[2020-07-20 21:39] hpages commented on #14
Thanks Charlotte for the report. This should be fixed in BSgenome 1.57.5 (see https://github.com/Bioconductor/BSgenome/commit/781c61d35049149e224eccb5f50cf80804a50ebd).

Best!

[2020-07-21 06:49] csoneson commented on #14
Thanks Hervé! I can confirm that the code above works with `BSgenome` 1.57.5 👍

[2020-07-21 06:49] #14 closed

[2020-07-30 08:35] MuShuw commented on #10
Hello,

I went back on the work with BSgenome.
I tried to modify the style the way you indicated it.
But unfortunatly this doesn't change the seqinfo for me.
[code]
You can see that from the beginning we don't obtain the same result. The seqlevelsStyle(genome) command output a list of style in my case.

[code]

Do you need other informations to understand how the difference occurs ?

Regards.
Elya

[2020-08-04 16:59] hpages commented on #10
Hi @MuShuw , is this working for you now? Thanks!  H.

[2020-12-01 06:21] nfarnoud opened #15 "GenomeInfoDB can not be installed"
Hello,
I upgraded my R to 4.0.3 and I can not install **GenomeInfoDb**. Here is what I have done (I also tried installing it from command line as well but received the same error).

[code]
[code]
I tried to follow up on the dyld errors, but I have not found a solution as how to resolve it yet.
Appreciate your help with this. My environment is:

               _
[code]

Thank You,
NF

[2020-12-01 15:57] hpages commented on #15
Hi,

Please report your `sessionInfo()`. Providing your `version` is not enough.

Your problem doesn't seem related to **GenomeInfoDb** in particular. For example, you get the following warning:

which suggests that something is wrong with your system.

Can you try to install other packages? For example, what happens when you try to install **Rcpp** and **ggplot2**:
[code]

H.

[2020-12-08 06:29] sanchit-saini opened #16 "Utilize UCSC REST API to retrieve Seqinfo"
hello,

As UCSC REST API is now available, there might be an opportunity to update the method of retrieving Seqinfo from UCSC for better maintainability.

Currently, Seqinfo is retrieved by download a file from UCSC goldenPath and later processed with a `read.table()`.
With the UCSC REST API Seqinfo could also be retrieved however it is going to requires a JSON parsing library(something like jsonl

[2020-12-08 09:25] #10 closed

[2020-12-08 17:05] hpages commented on #16
Hi @sanchit-saini,

The `chromInfo.txt.gz` files downloaded by `getChromInfoFromUCSC()` (the workhorse behind `Seqinfo(genome=my_genome))`) are compressed. Can the data be retrieved in a compressed form with the UCSC REST API?

Thanks,
H.

[2020-12-08 18:06] sanchit-saini commented on #16
Hi @hpages,
No, there is no option to retrieve data in compressed form from the UCSC API according to API
reference:http://genome.ucsc.edu/goldenPath/help/api.html

Thanks!

[2020-12-08 18:16] hpages commented on #16
Thanks for the link. Unfortunately this doesn't make the move from direct file download to download via the UCSC REST API appealing, as it would result in a performance regression. Maybe in the future when they support compressed data transfer.

H.

[2020-12-08 18:16] #16 closed

[2020-12-08 18:38] lawremi commented on #16
Is the seqinfo data really that large? A simple benchmark may be informative. Depending on the official REST API would be more robust than relying on a file sitting in an FTP archive.

[2020-12-08 20:06] hpages commented on #16
Some genomes (e.g. panTro5) have tens of thousands of scaffolds and no compression means downloading 1.3M of data instead of 218K (that's in the case of panTro5), i.e. 6x more data. The direct download has proven robust and fast so it's not clear that there is anything to win by replacing it with something less efficient that will also introduce new deps. This is a case where I'd say "if it ain't

[2020-12-08 20:11] lawremi commented on #16
I understand that there are tradeoffs. Sanchit has already reimplemented the rtracklayer table query interface (pull request just pending some man page updates), so we thought we could give SeqinfoDb the same treatment.

[2020-12-09 01:30] hpages commented on #15
Hi @nfarnoud, were you able to solve your problem? Thanks.  H.

[2021-01-06 18:35] alutz3 opened #17 "Update to Callithrix_jacchus.R"
Hi, this isn't an issue, but I was not sure how to appropriately propose an addition to one of the NCBI assembly lists.

I'd like to add a newer assembly for marmoset to the list and also rename the current assembly listed (currently is listed as ferret). I wasn't sure of naming conventions for the assemblies, so I took the assembly names from NCBI.

Here are my proposed changes:
[code]

Here is t

[2021-01-07 19:51] lutservitz commented on #17
Hi! I'm responding to my previous post because I think I may be missing something basic when forging a BSgenome that is not registered with NCBI.

Here is the error I receive:
[code]

Here is my seed file:
[code]

When I include 'circ_seqs: character(0)' in my seed file the error goes away and it will run (very quickly),
[code]
but it doesn't appear to build correctly. Am I doing something wrong i

[2021-01-20 20:18] LTLA opened #18 "Seqinfo constructor should auto-fill seqlevels= when seqlengths= is named"
Currently, construction from a named character vector looks like:

[code]

However, if `seqlengths=` is named, I would have expected the following to suffice:
[code]

and have `seqlevels=names(seqlengths)` by default. This would avoid the need to specify two arguments and allow convenient manual specification by passing in a single named vector directly to `seqlengths=`:

[code]

[2021-01-21 19:39] hpages commented on #18
Done in GenomeInfoDb 1.27.4 (see commit c3286ff0262a0d6cdf99c468522a0f2e29b19413).

[2021-01-21 19:39] #18 closed

[2021-01-23 02:22] LTLA opened #19 "N-ary nature of merge,Seqinfo,Seqinfo-method is not documented."
As briefly mentioned in Bioconductor/GenomicRanges#54. Currently, I only see in `?Seqinfo`:

[code]

A user could possibly infer the presence of N-ary functionality for `Seqinfo`'s `merge` from `?"merge,Vector,Vector-method"`, if one happened to stumble across that documentation... but I wouldn't bet on it.

[2021-01-25 22:29] igordot opened #20 "Windows build error"
I am using R-hub builder and there is a problem with GenomeInfoDb on Windows:

[code]

Bioconductor also reports an error: http://bioconductor.org/checkResults/release/bioc-LATEST/GenomeInfoDb/

Based on that output, it looks like the problem is related to NCBI:

[code]

[2021-02-03 05:43] coffeeCowLu commented on #11
thankyou very much!!!  well done!

[2021-02-03 05:44] coffeeCowLu commented on #11
thankyou very much !!! well done~

[2021-02-03 23:28] hpages commented on #19
[Taken care of](https://github.com/Bioconductor/GenomeInfoDb/blob/f2e54632ac89d0b6e1879e7e4467bc878b80d424/man/Seqinfo-class.Rd#L221-L225) in GenomeInfoDb 1.27.6.

Just to clarify, Seqinfo objects are not Vector derivatives so whatever `?"merge,Vector,Vector-method"` says is unrelated to this.

[2021-02-03 23:28] #19 closed

[2021-02-04 18:36] hpages commented on #11
I guess that means we can finally close this issue.

Best,
H.

[2021-02-04 18:36] #11 closed

[2021-02-17 15:51] mjsteinbaugh opened #21 "`getChromInfoFromEnsembl()` fails with Ensembl 103 for GenomeInfoDb 1.26.2 (Bioc 3.12)"
Hi, I'm seeing an error pop up with `getChromInfoFromEnsembl()` specifically with the new Ensembl 103 release. Here's a minimal reprex:

[code]

[code]

[code]

[code]

Is this supported in Bioc Devel? I'm taking a look in the v1.27.7 source code, but wanted to post in case others hit this error with Bioconductor 3.12.

Best,
Mike

[2021-02-17 16:13] mjsteinbaugh commented on #21
Relevant code is in [`Ensembl-utils.R`](https://github.com/Bioconductor/GenomeInfoDb/blob/master/R/Ensembl-utils.R)

[2021-02-17 16:20] mjsteinbaugh commented on #21
The issue is Ensembl's `species_EnsemblVertebrates.txt` file (see ftp://ftp.ensembl.org/pub/release-103/species_EnsemblVertebrates.txt for example), which has wonky formatting.

[2021-02-17 16:34] mjsteinbaugh commented on #21
[code]

[code]

[code]

[code]

[code]

[code]

[2021-02-19 12:00] hpages commented on #21
Hi @mjsteinbaugh ,

You only managed to read the file with `readr::read_delim()` or `vroom::vroom()` because you skipped the header. Note that skipping the header also "works" with `base::read.table()`:
[code]
(This didn't work for you because you didn't specify `quote=""`.)

Anyways, the file is broken because the data lines have one more column than the header so can no longer be mapped to the h

[2021-02-19 12:20] mjsteinbaugh commented on #21
Ah gotcha thanks @hpages . Want me to email Ensembl?

[2021-02-19 19:57] hpages commented on #21
Sure. Would be awesome if you could do that. Thanks!

[2021-03-02 21:57] hpages commented on #21
Hi @mjsteinbaugh, I was wondering if you heard back from the Ensembl folks. Thanks.

[2021-03-02 22:03] mjsteinbaugh commented on #21
@hpages I haven't emailed yet. Funny enough I was just about to do that. I'll CC on the email once I draft that up.

[2021-03-02 22:04] hpages commented on #21
Sounds good. Thanks for keeping me in the loop. Cheers

[2021-03-05 12:29] lshep commented on #21
@mjsteinbaugh  Did you ever get a chance to send the email to Ensembl?  This is affecting a few different areas of the project.  If you haven't could you considering doing it soon and still CC  @hpages  and myself on the email it would be greatly appreciated.

[2021-03-05 13:47] mjsteinbaugh commented on #21
Sorry for the delay, I’ve been slammed! I will seriously do that this morning and CC you as well.

[2021-03-05 16:56] mjsteinbaugh commented on #21
OK I just emailed the Ensembl Help Desk through their web portal.

[2021-03-08 18:22] mjsteinbaugh commented on #21
Just heard back from Ensembl that they're in the process of correcting the issue!

[2021-03-08 18:23] lshep commented on #21
Excellent!  thank you

[2021-03-10 20:45] hpages commented on #21
Thanks @mjsteinbaugh

I confirm that the `species_EnsemblVertebrates.txt` file in Ensembl 103 has been repaired. (The file can be found [here](http://ftp.ensembl.org/pub/release-103/) and its timestamp is 08-Mar-2021.)

It also introduces a new column so I've modified internal helper `fetch_species_index_from_Ensembl_FTP()` to handle the new column.

This is in **GenomeInfoDb** 1.26.4 (release) an

[2021-03-10 20:45] #21 closed

[2021-03-10 20:49] lshep commented on #21
Thank you @hpages  and @mjsteinbaugh !

[2021-04-04 23:08] liqian-ma opened #22 "Error in .make_Seqinfo_from_genome(genome)"
I was trying to import `alevin` counts to R using `tximeta`, which depends on the package `GenomeinfoDb`. However, since I used the GRCm39 (Release M26) from Gencode for alignment and annotation. I encountered the following error from `GenomeinfoDb`:

[code]

Is there a fix for this error, since GRCm39 was released in 2020?

Thank you very much for your help in advance!

[2021-04-05 04:28] hpages commented on #22
Hi @liqian-ma ,

I registered GRCm39 in GenomeInfoDb 1.26.5 (release) and GenomeInfoDb 1.27.9 (devel). Both versions should propagate and become available via `BiocManager::install()` in the next 36 hours or so.

Best,
H.

[2021-04-05 04:43] liqian-ma commented on #22
Thank you so much for the prompt help!

[2021-05-05 10:51] aybugealtay opened #23 "GenomeInfoDb for non- NCBI or -UCSC assemblies/genomes"
Hello,

I have a custom genome compiled via BSgenome. When I want to use this genome with GenomeInfoDb, I am having the following error:

`> Seqinfo(genome="BSgenomeCper") `

  `Error in .make_Seqinfo_from_genome(genome): "BSgenomeCper" is not a registered NCBI assembly or
  UCSC genome (use registered_NCBI_assemblies() or
  registered_UCSC_genomes() to list the NCBI or UCSC assemblies/genomes
  c

[2021-05-06 15:22] hpages commented on #23
Yes.

There's no way for `Seqinfo()` to return information about a genome that is not publicly available. But if you've made your own BSgenome object for this in-house genome, it already contains the Seqinfo information and you can get it by calling `seqinfo()` getter on the object. You don't need to use `Seqinfo(genome="name-of-your-genome")`.

Example:
[code]

Hope this helps.

H.

[2021-05-06 15:29] aybugealtay commented on #23
Hello,

Thanks a lot for your reply! I will try as you suggested!

Best,
Aybuge

[2021-05-10 18:54] #22 closed

[2021-05-10 19:02] hpages commented on #15
Closing this. Would've been nice to hear from you.

[2021-05-10 19:02] #15 closed

[2021-05-11 14:43] andradejon opened #24 "Registration request for Patiria miniata NCBI assembly"
I'd like to have the genome for Patiria miniata registered for the purpose of forging a BSgenome package. The assembly is ASM1570657v1 (Pmin_3.0) and below is the link to the NCBI page:

https://www.ncbi.nlm.nih.gov/assembly/GCF_015706575.1/

Let me know if there's anything I can clear up or help with. Thank you very much.

[2021-05-11 16:57] hpages commented on #24
Hi,

I anticipated your request and added this yesterday. See commit 62a2e8673700411c0a650bf0476142b57764d6a9.

This is in **GenomeInfoDb** 1.27.12 which is part of BioC 3.13 (requires R 4.1). **GenomeInfoDb** 1.27.12 will become available to BioC 3.13 users via `BiocManager::install()` in the next 24 hours or so.

Note that BioC 3.13 is still officially in development but you can already install

[2021-05-11 16:57] #24 closed

[2021-06-21 16:13] Kayla-Morrell opened #25 "Issue with setting `seqlevelStyle()`"
I'm currently working on some code in an AnVIL workspace and I'm having an issue utilizing `seqlevelStyle()` when setting it to 'RefSeq'. The following examples work as expected:

[code]

But doing something like the following results in an error:

[code]

Here's my session info:

[code]

[2021-06-22 18:44] jeff-mandell opened #26 "Caching seqinfo"
Hi, my package uses genomeInfoDb, and we use the seqlevelsStyle function to clean up user-inputted data and ensure consistent chromosome names (in our case, we go with NCBI style, which means stripping chr prefixes). I can see that what seems like a simple task gets complicated under the hood with the need to download the latest info from NCBI, Ensembl, and UCSC.

I found that .UCSC_cached_chrom_i

[2021-06-22 19:13] LiNk-NY commented on #25
Hi Kayla, @Kayla-Morrell

You have to set the appropriate genome in `GR`. In this example I'm using `"hg19"` with `"UCSC"` `seqlevelsStyle`.

[code]

<sup>Created on 2021-06-22 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

@hpages One note for Hervé is that when these are mismatched, you will not get any conversion or error / warning:

[code]

<sup>Created on 2021-06-22 by

[2021-06-23 17:19] hpages commented on #25
I added a warning in **GenomeInfoDb** 1.29.1 (see commit e49de606f648b4d086866b0acb133d415c8234e7).

[2021-06-23 17:19] #25 closed

[2021-06-23 19:21] hpages commented on #26
There's no plan at the moment to take advantage of R's support for caching user data to save NCBI or UCSC assembly/genome information and allow `seqlevelsStyle()` to run offline.

One concern with a persistent caching solution is that there's the slight possibility that the information provided by NCBI or UCSC for a given assembly/genome changes in the future. But maybe the risk that this actually

[2021-06-28 20:41] jeff-mandell commented on #26
Thanks for taking the time to respond. I understand the risk of sequence information changing. A persistent caching solution would help users who sometimes work offline, and it would prevent some crashes in HPC environments (e.g., a random node is misconfigured or has network problems). Maybe it's too niche of a need, but it could also help out package developers to be able to insert their own ent

[2021-06-29 08:55] mzytnicki opened #27 "Problem on scaffold name (mm10)"
There is a seemingly new scaffold on mm10 (Mus musculus), with a "bad" name: `chrna_GL456050_alt`.
So far, you can reproduce the result with:

    GenomeInfoDb:::fetch_chrom_sizes_from_UCSC("mm10", "http://hgdownload.cse.ucsc.edu/goldenPath")[179, ]

The following command line gives the same result:

    wget http://hgdownload.cse.ucsc.edu/goldenPath/mm10/database/chromInfo.txt.gz

The problem ari

[2021-06-29 15:10] Baboon61 commented on #27
Related to this, impossible to use `Seqinfo(genome="mm10")` calling `.order_seqlevels`

[2021-06-30 07:51] skilpinen commented on #27
I found this as well, and I was in contact with guys at UCSC. Here is their understanding what has happened and how to fix this:

----
Thank you for bringing this issue to our attention that the GenomeInfoDb tool in R can no longer communicate in terms of mm10.

We recently released a patch update to mm10 with a new approach where patch sequences can be seen within the context of the mm10 assembly

[2021-06-30 07:58] skilpinen commented on #27
And in addition of that, I managed to go around of this problem in my current project with following:
Case 1:
Previously :
seqlevelsStyle(annotations) <- 'UCSC'

Now:
ucsc.levels <- str_replace(string=paste("chr",seqlevels(annotations),sep=""), pattern="chrMT", replacement="chrM")
seqlevels(annotations) <- ucsc.levels

And case 2:
Instead of calling Seqinfo(genome="mm10) I call seqinfo(BSgenome.Mm

[2021-06-30 08:06] Baboon61 commented on #27
Thanks for your time and the workaround !

This is working too :
[code]

[2021-06-30 09:29] hpages commented on #27
Not sure where the UCSC folks are going with this but it doesn't look good.

1. The Gateway pages for mm10 explicitly says:

    And this was the case so far with 66 sequences in the mm10 genome (65 from the C57BL/6J assembly unit + chrM from the non-nuclear assembly unit). All the new sequences they recently added to [chromInfo.txt.gz](https://hgdownload.soe.ucsc.edu/goldenPath/mm10/database/chro

[2021-06-30 09:43] hpages commented on #26
Bingo! And just when we were talking about the possibility of UCSC suddenly changing the chromosome information of their genomes, they just do it! See issue #27.

Note that this is not the first time. They already did this last year with hg19 when they decided to base it on GRCh37.p13 instead of GRCh37. This broke many things and created a lot of confusion.

[2021-06-30 09:47] maximilianh commented on #27
UCSC here. This is not our doing but an update by the genome reference consortium group. One can discuss the utility of patches, but from what I know we're just following common practice of the genomics databases. We're interested in feedback on patch updates in general on this and other genomes. As always, with research tools, it is not easy to predict what they are being used for and if somethin

[2021-06-30 10:26] hpages commented on #27
Thanks for the clarifications. So it seems that what you did was to "resync" mm10 with GRCm38.p6 (was previously based on GRCm38). That's all we needed to know. Note that I didn't find this information anywhere until know (just found it [here](https://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips/latest/LATEST_VERSION)) and it's not something that can easily be guessed either.

When hg19 was "re

[2021-06-30 10:48] hpages commented on #27
Looks like this update is not just a switch to GRCm38.p6, it also extends the scope of mm10 to include all assembly units from GRCm38.p6. The old mm10 was restricted to assembly units "C57BL/6J" and "non-nuclear".

I'll stop doing guess work. Hopefully the Gateway page and the README file at https://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips/ will explained what really happened to mm10. Thank

[2021-06-30 13:09] maximilianh commented on #27
I see. If hg19 broke Bioconductor, sorry, I misremembered. We should have given you a heads up. And will do if we ever change an assembly again (like everyone else, we feel uneasy about changes to existing assemblies)

As for the README, it appears that the updated mm10 file was written including a long section about the patches, but hasn't been pushed yet. Oops. We'll push it out today.

As for t

[2021-06-30 18:38] hpages commented on #27
Also one mystery is where NCBI is getting the UCSC-style-name from. According to the [Full sequence report for GRCm38.p6](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/635/GCF_000001635.26_GRCm38.p6/GCF_000001635.26_GRCm38.p6_assembly_report.txt), the UCSC name for `MG132_PATCH` (RefSeq accession `NW_004450259.3`) is expected to be `chr9_KB469738v3_fix` but AFAICT it's `chr9_KB469738_fix`.

[2021-07-01 12:08] maximilianh commented on #27
Hi Herve,

Excellent question. I'll forward this to NCBI. We don't know where NCBI
gets their UCSC-style-name from, it looks like they create these
themselves. I hope they can update this file.

Yes, this is an old problem. To address it, since around 5 years ago, we
provide a mapping in the table seqAlias (we will update the hg19/hg38/mm10
README files today to point to these tables, thank you fo

[2021-07-01 22:27] hpages commented on #27
Hi Maximilian,

Thanks for the chromAlias reminder. I think I remember stumbling on that table at some point. At the time I put on our TODO list to _maybe_ start using it instead of the complicated heuristic that we're using to map UCSC sequence names to the NCBI names. Although I was not sure it was worth it.

The thing is, we need to be able to solve the mapping problem for a bunch of UCSC genom

[2021-07-02 04:32] jardplard commented on #27
Hello, I am so sorry if this is off-topic or poorly asked (R novice here), but the org.Mm.eg.db package has also become largely problematic in the last week and has broken some aspects of my analysis pipeline. In seeing all of this discussion, I assume that these issues are related and wanted to bring it to people's attention, but please forgive me if I am incorrect about this.

[2021-07-02 06:05] hpages commented on #27
@jardplard It would be surprising if this was related with the mm10 issue since **org.Mm.eg.db** doesn't have much to do with mm10. The only thing they have in common is that both are about Mouse but that's pretty much it. Anyway it's hard to know for sure since you're not telling us what problem you are seeing with **org.Mm.eg.db**. Can you be more specific? In particular it would help if you cou

[2021-07-02 06:15] #17 closed

[2021-07-02 06:18] hpages commented on #7
This is an old issue and the OP didn't follow up so I'm closing it.

[2021-07-02 06:18] #7 closed

[2021-07-02 09:19] maximilianh commented on #27
@hpages Hi Hervé, I quickly looked over your heuristics. I'm impressed and also a little sad that you had to spend so much effort on mapping sequence names. I can say that we are providing chromAlias tables for all new genomes. I will enquire now if we can make them for all old genomes.

And, just for me to understand the context better: I wonder what the reason is that you need NCBI/UCSC mapping,

[2021-07-02 10:05] mzytnicki commented on #27
@maximilianh  I am sorry to barge in.  In am the one who opened the issue.
To answer you, yes, we often need to translate UCSC/NCBI ref names.  Very frequently, and it is curse.
A simple use case: we get sequencing data, which have been mapped to the NCBI references (by the company who did the sequencing, for instance).  Now, I want to compare the reads with some annotation, and I use the dedicate

[2021-07-02 10:09] maximilianh commented on #27
@mzytnicki Thanks, this makes complete sense, I should have thought of this.

@hpages: We updated https://hgdownload.soe.ucsc.edu/goldenPath/mm10/bigZips/ now and added an explanation of the strain patches and also point to the chromAlias table. The mm10 genome description page is still being modified.

[2021-07-02 16:06] hpages commented on #27
@maximilianh Thanks for the updates.

Yes, as @mzytnicki said, people use this all the time. Every time they need to compare 2 objects that use different sequence naming conventions (e.g. a BAM file with NCBI sequence names and a set of UCSC transcripts in a TxDb object), they need to harmonize the names by switching one object to the convention of the other. The central tool for this is `GenomeIn

[2021-07-02 16:21] hpages commented on #27
@mzytnicki I resynced mm10 with GRCm38.p6 in **GenomeInfoDb** 1.29.3 (BioC 3.14, devel) yesterday. See commit a92e3979526f18812b5e6448d36271ab69aac690. GenomeInfoDb 1.29.3 successfully passed `R CMD build` and `R CMD check` on all platforms on [today's build report](https://bioconductor.org/checkResults/3.14/bioc-LATEST/GenomeInfoDb/) and will become available to BioC 3.14 users in a couple of hou

[2021-07-02 16:33] maximilianh commented on #27
The following assemblies do not have a chromAlias table:

anoCar1 anoGam1 apiMel1 apiMel2 apiMel3 aplCal1 aptMan1
bosTau1 bosTau2 bosTau3 bosTau4 bosTau5 bosTauMd3 braFlo1 caeJap1
caePb1 caePb2 caeRem2 caeRem3 calJac1 calJac4 canFam1 canFam2 casCan1
cavPor2 cb1 cb3 cbJul2002 ce10 ce2 ce4 ce6 chrPic1 ci2 criGri1 danRer1
danRer2 danRer3 danRer4 danRer5 danRer6 dasNov1 dm1 dm2 dm3 dp2 dp3 dp4
droAna1

[2021-07-03 00:00] jardplard commented on #27
@hpages that is useful to know, thank you. The reason I suspected these issues were related was that calling basic info for org.Mm.eg.db shows some relation to UCSC ("GPSOURCENAME", see screenshot.)

In my specific example, I am attempting to annotate ATAC-Seq peaks (and read counts for samples at each peak) with the nearest known gene locus, using a package called ChIPpeakAnno. This process invol

[2021-07-03 10:41] mzytnicki commented on #27
I will close the issue for now.  It is possible that it triggered another error somewhere else, but it is another story...
Thanks to everyone!

[2021-07-03 10:41] #27 closed

[2021-07-05 12:47] mzytnicki opened #28 "Mmusculus.v79 UCSC/NCBI chr name name mismatch."
It is probably a consequence of the patch of Issue #27

    tmp <- genes(EnsDb.Mmusculus.v79)
    seqlevelsStyle(tmp) <- "UCSC"

This triggers an error (poorly translated from French):

    Error in (function (UCSC_chrom_info, assembly_accession, AssemblyUnits = NULL, identical(UCSC_chrom_info[compare_idx, chrom"], NCBI_chrom_info[compare_idx,  .... is not TRUE

I cannot pinpoint which chromosome

[2021-07-07 12:24] maximilianh commented on #28
This could be related to the other ticket #27 about NCBI/UCSC chrom names where @hpages noticed something related. I reached out to NCBI and they told me where they got the "UCSC-style-ids" from. It was from patch4 so this file http://hgdownload.soe.ucsc.edu/gbdb/mm10/mm10Patch4/ which we only added as an annotation track, not as genome sequences and this file that was not intended to be used as a

[2021-07-07 13:32] mzytnicki commented on #28
Thank you very much @maximilianh.  We will wait a bit and see how things turn out.  I will keep you informed.

[2021-07-09 10:20] mzytnicki commented on #28
Ok it works fine now, thanks!

[2021-07-09 10:20] #28 closed

[2021-09-23 10:01] qlan20 opened #29 "installation of GenomeInfoDbData failed"
Hello,

The GenomeInfoDbData somehow failed to be installed (a dependency of GenomeInfoDb). I was wondering whether anyone has a clue on this issue?
I restarted with a newly-installed R but got the same error. Thanks in advance!

rtools40 was installed in C:\rtools40\usr\bin and was in Sys.getenv('PATH')

 make
"C:\\rtools40\\usr\\bin\\make.exe"

'getOption("repos")' replaces Bioconductor
standard

[2021-10-04 21:34] hpages commented on #29
Hi @qlan20,

If you're still having problem installing the **GenomeInfoDbData** package, please ask on the [Bioconductor support site](https://support.bioconductor.org/). It will be appreciated if you can make proper use of markdown when you post there. This will make your post easier to read and understand.

Thanks,
H.

[2021-10-18 11:28] yuhsinhsieh-josch opened #31 "Issue with seqlevelStyle()"
I was doing scATAC analysis using Signac, where I need a GenomeInfoDb and EnsDb.Hsapiens.v86 to annotate my data. It worked nicely at the beginning of last week, but then I ran into the issue with the following code:
[code]
Here is the error message I received:
[code]

I would appreciate if you can have a look and give me some feedback

Here's my R sessionInfo():
[code]

[2021-11-11 02:01] sanchit-saini opened #32 "Error in .order_seqlevels(chrom_sizes[, "chrom"]) : !anyNA(m32) is not TRUE"
[code]

### SessionInfo
[code]

[2021-11-11 02:43] hpages commented on #32
See issues #30 and #31, and also https://support.bioconductor.org/p/9140106/ and https://support.bioconductor.org/p/9140106/ on the support site.

TLDR: This is fixed in BioC 3.14 so it's time to upgrade ;-)

[2021-11-11 02:43] #32 closed

[2021-11-19 11:13] beginner984 opened #33 "Getting error in installing GenomeInfoDb"
Hello

I am not able to install GenomeInfoDb

Can you help me please?

[code]

[code]

[2021-11-19 15:58] hpages commented on #33
Hi,

1. Always use `BiocManager::install()` which is the only safe way to install Bioconductor packages. In particular you should never install Bioconductor packages from GitHub.
2. You're using R 4.0.5. You need to use the latest R version (4.1.2) to use the latest version of Bioconductor (3.14).
3. Always use R and install packages from your regular user account.

H.

[2021-11-19 17:38] hpages commented on #33
And also:

  4. Always show your `sessionInfo()`.

Thanks,
H.

[2021-11-22 14:08] beginner984 commented on #33
Thank you

I failed to install that

[code]

[2021-11-23 17:25] hpages commented on #33
It's not clear to me what "that" is. Can you clarify what you failed to install, how you tried to install it, and what error message you got?

You've apparently managed to switch to the current version of R (4.1.2) and to install **BiocManager** but have you tried to install **GenomeInfoDb** again with `BiocManager::install("GenomeInfoDb")`?

Please don't assume that people will spend time trying

[2021-12-31 13:18] #29 closed

[2022-01-05 13:23] susheelbhanu opened #34 "'new2old' not supported in 'seqinfo<-,DNAStringSet-method'"
Hi,

I'm trying to use the package in workflow, with the following code:
[code]

And I get the following error:
[code]

Any help would be appreciated.
Thank you,
Susheel

[2022-01-18 03:33] haozhaozhe opened #35 "seqlevelsStyle time out"
Hello,

I am trying to analyze the atac-seq data using Seurat package. But always stucked at seqlevelsStyle(annotation) <- "UCSC".

I have updated the R to 4.1 and GenomeInfoDB to 1.30.0, but the same problem still happens. Could you please help me with it?

The detailed information are attached below:

Many thanks!

Zhaozhe

Below is detailed information:

code:

library(Signac)
library(Seurat)
l

[2022-01-18 18:10] Scottyzy opened #36 "Registration request for Acyrthosiphon pisum NCBI assembly"
Hi,
I'd like to have the genome for Acyrthosiphon pisum registered for the purpose of forging a BSgenome package. The assembly is pea_aphid_22Mar2018_4r6ur  and below is the link to the NCBI page:

https://www.ncbi.nlm.nih.gov/assembly/GCF_005508785.1

Let me know if there's anything I can clear up or help with. Thank you very much.

[2022-01-18 19:49] LiNk-NY commented on #35
Hi, @haozhaozhe

I am not able to reproduce this with Bioc version 3.14.
Perhaps it is a network / connection issue.

Best,
Marcel

[code]

[2022-01-18 20:40] hpages commented on #36
Done in **GenomeInfoDb** 1.31.2 (see commit 513a854cb990dc6229f86af29f0fbc389bcb2a7f).

Note that whoever submitted the pea_aphid_22Mar2018_4r6ur assembly to NCBI messed it up:
- The name of the assembly is long and ugly.
- The reported assembly level should have been Scaffold, not Chromosome.
- The sequence names are terrible:
[code]

The [Acyr_2.0 assembly](https://www.ncbi.nlm.nih.gov/assembly/

[2022-01-18 20:40] #36 closed

[2022-01-18 21:28] Scottyzy commented on #36
Hi just a quick question I was wondering if the genome will be available later on? as I type available.genomes() in R and I cant find the file

[2022-01-18 21:57] haozhaozhe commented on #35
Thank you, LiNk-NY.

Yes, I totally agree it is likely a network issue. Because I always see this message: Connection timed out after 300498 milliseconds.

Since there is currently no chance for me to improve my internet speed, is that possible to change the timeout limit in the package please?

I have tried to set options(timeout = 100000000) in the global environment. And I have also tried to al

[2022-01-18 22:08] Scottyzy commented on #36
Hi I was wondering how long before the assembly is available to use, as when i tried to run my seed files it said is not registered NCBI assembly. Thank you

[2022-01-18 22:23] hpages commented on #36
Well, you need **GenomeInfoDb** 1.31.2. You can install it now (by installing it directly from GitHub) or wait that it becomes available in BioC 3.15 (this is BioC devel, it requires R 4.2), at which point you'll be able to install it via `BiocManager::install()`. This should take between 24h-48h.

[2022-01-20 18:08] hpages commented on #35
If setting `options(timeout=100000000)` (i.e. 27 h 46 min 40 sec) doesn't help then I'm not sure what will.

FWIW my internet connection at home is also very poor so I have `R_DEFAULT_INTERNET_TIMEOUT=600` in my `.Renviron` file. This sets the `download.file()` timeout to 10 min instead of 5 min (the default), and, with this, I'm able to run `BiocManager::install()` on the biggest Bioconductor pac

[2022-01-20 18:10] hpages commented on #35
Oops the timeout option is in seconds, not in milliseconds, so this is actually more than 3 years!

[2022-01-20 21:12] haozhaozhe commented on #35
Sincerely thank you for your time, H.!

Yes, I put tones of zeros there... That indicates how desperate I was... And in fact, it does not really help because the code still stops after 5 minutes.

Following your suggestion, I tried the following:
1) set R_DEFAULT_INTERNET_TIMEOUT=10 in .Renviron file, to make sure I did things right.  Then I run the following code in R (to be more specific, I am u

[2022-01-21 01:37] haozhaozhe commented on #35
Hi H,

I am very embarrased and found that the problem is caused by my internet configuration.... Now the problem has fix.

Thank you again for your patience and clear guild!

Zhaozhe

[2022-01-21 01:37] #35 closed

[2022-01-21 02:19] hpages commented on #35
No worries. Glad you were able to find the problem. Cheers!

[2022-01-25 18:21] haozhaozhe commented on #35
Thank you for your kindly help. : )

[2022-04-06 03:34] Shicheng-Guo opened #37 "GRCh38.p14 covers T2T-CHM13 information, correct?"
I am wondering GRCh38.p14 covers T2T-CHM13 information, correct?

Thanks.

Shicheng

[2022-04-07 13:16] hpages commented on #37
I don't know. But I'm confused, we don't control what GRCh38.p14 covers do we?

H.

[2022-04-11 13:50] LiNk-NY commented on #34
Hi Susheel, @susheelbhanu

Can you please provide a minimally reproducible example?
Are you using one of our workflow packages?

Best,
Marcel

[2022-04-19 18:59] hpages commented on #37
I actually don't think that GRCh38.p14 "covers" T2T-CHM13 information, whatever that means. Those are 2 completely different projects, the former from the Genome Reference Consortium and the latter from the T2T Consortium. But best way to find out is to read the release notes for GRCh38.p14 (if there is such a thing), or contact the GRC directly. Also have you tried to search for "GRCh38.p14 vs T2

[2022-04-19 18:59] #37 closed

[2022-06-08 18:32] LiNk-NY commented on #34
Thanks Hervé for the MRE.
While we work on a long term solution, perhaps we can add a `seqlevelsStyle` setter method to the class?
[code]

[2022-06-08 18:46] hpages commented on #34
I think a better approach is to make the `seqinfo()` setter a little bit smarter. There is no reason why it wouldn't accept a `new2old` value that is set to `seq_along()` of the supplied Seqinfo. I'm working on that.

[2022-06-08 20:20] hpages commented on #34
I ended up doing a substantial refactoring of the `seqinfo()` getter and setter for DNAStringSet objects. Only the circularity flags and genome info are now stored in the `metadata()` of the object. The `seqnames()` and `seqlengths()` are just inferred from the `names()` and `width()`.

The new behavior of the setter now allows it to alter everything (i.e. names/seqnames and/or circularity flags a

[2022-06-08 20:20] #34 closed

[2022-08-11 20:29] hpages commented on #20
Looks like this was an intermittent issue that disappeared a long time ago.

[2022-08-11 20:29] #20 closed

[2022-09-28 18:38] chancharikmitra opened #42 "Error: package or namespace load failed for ‘GenomeInfoDb’; there is no package called ‘GenomeInfoDbData’"
I am having this issue of my jupyter notebook not being able to find the GenomeInfoDbData package even though it is already installed in my conda environment. Note: I am trying to use this package as part of the SpatialExperiment library.

Conda Version: 4.14.0
Running locally on macOS 11.6
Environment Dependencies:
[requirements.txt](https://github.com/Bioconductor/GenomeInfoDb/files/9668002/requ

[2022-09-28 19:40] hpages commented on #42
This looks like a conda environment/configuration problem. How do you know that **GenomeInfoDbData** is already installed in your conda environment. Can you `library(GenomeInfoDbData)`?

Note that Bioconductor has no control on how Bioconductor packages get re-distributed and installed via conda. The only installation method that we support is `BiocManager::install()`.

[2022-09-28 20:25] chancharikmitra commented on #42
I see. The requirements.txt file includes every package that is installed on the environment. This comes from running `conda list`. GenomeInfoDBData specifically version 1.2.4 is included.
So you're saying this is likely a conda issue then?

[2022-09-28 20:45] hpages commented on #42
Sounds good but that's not direct evidence that you _actually_ have **GenomeInfoDbData** installed in your conda environment, and that the package can be loaded. Only way to know _for sure_ is to try `library(GenomeInfoDbData)`. Did you try that?

[2022-09-28 22:11] chancharikmitra commented on #42
@hpages Ah, I see what you are saying. `library(GenomeInfoDbData)` gives me

_Error in library(GenomeInfoDbData): there is no package called ‘GenomeInfoDbData’
Traceback:

1. library(GenomeInfoDbData)_

Oddly enough, conda says this package is already installed when I try to reinstall it.

[2022-09-28 23:47] hpages commented on #42
`library(GenomeInfoDbData)` is telling the truth: you don't have **GenomeInfoDbData** installed. Or maybe it is installed, but in the "wrong" place, whatever that means in the context of a conda installation.

Anyways, this is a conda installation issue. Can't help you with that, sorry.

[2022-09-28 23:47] #42 closed

[2022-10-10 17:26] hpages opened #43 "Proposed contribution tasks for Outreachy applicants: Register UCSC genome canFam6"
`canFam6` is the latest UCSC genome for Dog (_Canis lupus familiaris_). See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" page [here](https://genome.ucsc.edu/cgi-bin/hgGateway). This is the main entrance to the "UCSC Genome Browser". Find Dog in the UCSC species tree on th

[2022-10-10 18:03] hpages opened #44 "Proposed contribution task for Outreachy applicants: Register NCBI assembly Dog10K_Boxer_Tasha"
`Dog10K_Boxer_Tasha` is a Dog assembly available at NCBI: https://www.ncbi.nlm.nih.gov/assembly/GCF_000002285.5/

Note that `Dog10K_Boxer_Tasha` is the assembly that `canCam6`, the latest UCSC genome for Dog, is based on. See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" p

[2022-10-13 05:28] hpages commented on #26
Hi @jeff-mandell ,

Just to let you know that I implemented an "offline mode" for `getChromInfoFromUCSC()`. This is in **GenomeInfoDb** 1.33.9. See commit 345f22c55b8c431f1cf8080af3235f78266ade9c.

Note that it's only a _partial_ "offline mode" i.e. it works when called with `assembled.molecules.only=TRUE` and only for a selection of _registered_ genomes. See "Offline mode" in `?getChromInfoFromUC

[2022-10-13 17:47] hpages opened #45 "Proposed contribution task for Outreachy applicants: Link canFam6 (UCSC genome) to Dog10K_Boxer_Tasha (NCBI assembly)"
This task depends on issues #43 and #44 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

The purpose of "linking" a UCSC genome to the NCBI assembly that it is based on, is to support the `map.NCBI` argument of the `getChromInf

[2022-10-13 18:27] hpages commented on #43
Hi @Priceless-P ,

Welcome to Outreachy and thanks for volunteering for this task!

Please confirm again that you have successfully completed all the Preliminary tasks listed [here](https://github.com/Bioconductor/BSgenomeForge/wiki/List-of-contribution-tasks-for-the-Outreachy-application-period). Do you have any question about these tasks? Don't hesitate to ask. You can ask me by email or in the

[2022-10-13 18:39] Priceless-P commented on #43
@hpages Yes, I have completed all the preliminary tasks stated. I didn’t encounter any issues with them. I will go ahead and assign myself now. I will also update my fork and start working on it.

[2022-10-13 19:17] Priceless-P commented on #43
@hpages , I can't see the button to assign myself

![IMG_2477](https://user-images.githubusercontent.com/88077456/195689318-54a16d6e-a19b-4d85-b7c8-f8fb7c47d750.jpeg)

[2022-10-13 19:31] hpages commented on #43
Oh sorry! Probably because you don't have the permissions to do that. I just did it for you.

[2022-10-13 22:37] hpages opened #46 "Proposed contribution task for Outreachy applicants: Register UCSC genome xenTro10"
`xenTro10` is the latest UCSC genome for the [Western clawed frog](https://en.wikipedia.org/wiki/Western_clawed_frog) (_Xenopus tropicalis_). See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" page [here](https://genome.ucsc.edu/cgi-bin/hgGateway). This is the main entrance

[2022-10-14 01:42] hpages opened #47 "Proposed contribution task for Outreachy applicants: Register NCBI assembly UCB_Xtro_10.0"
`UCB_Xtro_10.0` is a [Western clawed frog](https://en.wikipedia.org/wiki/Western_clawed_frog) (_Xenopus tropicalis_) assembly available at NCBI: https://www.ncbi.nlm.nih.gov/assembly/GCF_000004195.4/

Note that `UCB_Xtro_10.0` is the assembly that `xenTro10`, the latest UCSC genome for the Western clawed frog, is based on. See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleas

[2022-10-14 01:52] hpages opened #48 "Proposed contribution task for Outreachy applicants: Link xenTro10 (UCSC genome) to UCB_Xtro_10.0 (NCBI assembly)"
This task depends on issues #46 and #47 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

The purpose of "linking" a UCSC genome to the NCBI assembly that it is based on, is to support the `map.NCBI` argument of the `getChromInf

[2022-10-14 02:20] hpages commented on #43
@Priceless-P Before running `R CMD build` or `R CMD check`, you want to make sure that you also have all the packages listed in the `Suggests` field. Packages listed in this field are typically used in the vignettes or in some examples, so they are not strictly needed to _use_ the package, but they are needed to build the vignettes or to run the examples in the package. That's why `R CMD build` an

[2022-10-14 03:19] Priceless-P commented on #43
Okay. I'll do it your way.

Yes, `cFam6.R` i misspelled that.

[2022-10-14 04:46] Simplecodez commented on #44
Hi @hpages, please I would like to be assigned this task but can't find the assign button. I have completed the preliminary task.

[2022-10-14 04:50] Priceless-P commented on #43
After building the second time (with vignettes) as you stated in point 4 above

I got the following errors
[code]

I used the command `R CMD check GenomeInfoDb_1.33.9.tar.gz `

But I noticed that [here](https://bioconductor.org/checkResults/devel/bioc-LATEST/GenomeInfoDb/lconway-checksrc.html) they used this command

`
 /Library/Frameworks/R.framework/Resources/bin/R CMD check --install=check:Geno

[2022-10-14 14:31] hpages commented on #43
`NCBI_LINKER` is optional. When I said to ignore it, I meant to not put it in the registration file. You can not "link" the `canFam6` genome to its NCBI assembly (`Dog10K_Boxer_Tasha`) at the moment, because the latter is not registered yet.

Yep, that's the right command. Our build system uses a more complicated command, but complicated reasons that I won't discuss here.

Before you run `R CMD bu

[2022-10-14 14:38] kakopo commented on #46
Hello @hpages. I'd like to contribute towards this issue. I have completed the preliminary tasks.

[2022-10-14 14:49] hpages commented on #44
Hi @Simplecodez,

Were you able to install Linux on your machine? Do you have any question about the preliminary tasks? Don't hesitate to ask. You can ask me by email or in the #outreachy channel on the community-bioc Slack (don't ask questions about these Preliminary tasks here, in this issue, to stay on-topic).

Would you mind choosing the "Register NCBI assembly UCB_Xtro_10.0" issue instead? It

[2022-10-14 16:21] hpages opened #49 "Proposed contribution task for Outreachy applicants: Register UCSC genome felCat9"
`felCat9` is the latest UCSC genome for Cat (_Felis catus_). See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" page [here](https://genome.ucsc.edu/cgi-bin/hgGateway). This is the main entrance to the "UCSC Genome Browser". Find Cat in the UCSC species tree on the left, cli

[2022-10-14 16:40] hpages opened #50 "Proposed contribution task for Outreachy applicants: Register NCBI assembly Felis_catus_9.0"
`Felis_catus_9.0` is a Cat assembly available at NCBI: https://www.ncbi.nlm.nih.gov/assembly/GCF_000181335.3/

Note that `Felis_catus_9.0` is the assembly that `felCat9`, the latest UCSC genome for Cat, is based on. See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" page [h

[2022-10-14 16:46] hpages opened #51 "Proposed contribution task for Outreachy applicants: Link felCat9 (UCSC genome) to Felis_catus_9.0 (NCBI assembly)"
This task depends on issues #49 and #50 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

The purpose of "linking" a UCSC genome to the NCBI assembly that it is based on, is to support the `map.NCBI` argument of the `getChromInf

[2022-10-14 17:12] hpages commented on #46
Hi @kakopo , please choose a task in the Cat group instead. See https://github.com/Bioconductor/BSgenomeForge/wiki/List-of-contribution-tasks-for-the-Outreachy-application-period Thanks!

[2022-10-14 20:24] kakopo commented on #49
Thank you @hpages. I would love to volunteer for this task

[2022-10-14 20:29] Priceless-P commented on #43
Okay, Will do.
Thanks!

[2022-10-14 20:41] hpages commented on #49
Excellent. Thank you!

[2022-10-14 23:17] Priceless-P commented on #43
@hpages I ran into another error when i executed `FETCH_ORDERED_CHROM_SIZES()`

[code]

This is what i currently have

[code]

Is my `ASSEMBLED_MOLECULES` wrong? Please how do i go about this?

[2022-10-15 00:56] hpages commented on #43
First of all, we want to list the assembled molecules in the traditional order: numbered chromosomes first, then sex chromosome, then mitochondrial chromosome. Also there's no reason to exclude chromosome 2. So:
[code]
Note that this is what all other `canFam*.R` files have.

Now let's take a closer look at all the sequences in `canFam6`:
[code]
All the additional sequences are called "unplaced sc

[2022-10-15 04:48] Simplecodez commented on #44
Goodday sir, I don't mind mind. Please can you assign to that task?

[2022-10-15 04:50] Simplecodez commented on #47
Hi, @hpages please can you assign me to this task?

[2022-10-15 04:53] Simplecodez commented on #44
I am also done with the preliminary tasks i was able to install Linux on my machine.

[2022-10-15 17:35] Priceless-P commented on #43
Yes. It really does. Thanks a lot @hpages You’re the best! Please check your slack. I have just one last question.

[2022-10-15 19:24] hpages commented on #47
Done. Don't hesitate to ask if you have questions.

[2022-10-16 03:33] Simplecodez commented on #47
Thank you sir, I will start working on right away

[2022-10-17 06:51] hpages commented on #49
@kakopo Here is some important information about genomes, genome assemblies, and UCSC sequence naming scheme, that will hopefully get you started.

**About chromosomes and UCSC chromosome names**

Each organism has its own set of chromosomes.

For example the chromosomes for Human are numbered from 1 to 22 (not counting the sex and mitochondrial chromosomes). The names that the UCSC people use for

[2022-10-17 06:55] Simplecodez commented on #47
Good day sir please, I don't understand what I am to do exactly. I am a bit confused sir

[2022-10-17 07:25] hpages commented on #47
Hi @Simplecodez ,

Can you try to formulate a more precise question? I'd be happy to provide as much clarification as needed but it'll be easier for me if I know a little bit more about what is not clear in the task description above, and whether you have tried things or not already.

Or perhaps you want to try to start with task #46 instead? This is the 1st task in your group of tasks (Frog). See

[2022-10-17 08:24] Simplecodez commented on #47
I have gotten an idea on where to start but I tried clone the repo but cant find the fork button to fork it before cloning

[2022-10-17 09:28] Simplecodez commented on #47
Thank you sir, I have just forked and clone the repo locally

[2022-10-17 11:01] Simplecodez commented on #47
Good day sir. I would really love to contribute to this project but I don't really know what to do. I have just forked and cloned the repo but don't know the files I am to edit or change sir.

[2022-10-17 15:38] Simplecodez commented on #47
I just created UCB_Xtro_10.0 file. Please how can I download the assembly data?
![20221017-163443](https://user-images.githubusercontent.com/102396467/196220991-15f8b9fe-2a4b-40ca-910b-28baff86acda.png)
![20221017-163437](https://user-images.githubusercontent.com/102396467/196221081-a2fe943f-4c2b-43f4-a454-efd797f3bcac.png)

[2022-10-17 17:11] hpages commented on #43
I just merged PR #52. Congratulation @Priceless-P on your first contribution to Bioconductor! Don't forget to record it on Outreachy at https://www.outreachy.org/outreachy-december-2022-internship-round/communities/bioconductor/refactor-the-bsgenomeforge-tools/contributions/.

The next suggested task for you is #44. Whenever you are ready. Thanks!

[2022-10-17 17:11] #43 closed

[2022-10-17 17:21] hpages commented on #47
What about my suggestion to switch to #46? I think it's going to be easier for a first task.

[2022-10-17 17:51] Priceless-P commented on #44
@hpages, please can you assign this project to me?

[2022-10-17 17:59] hpages commented on #44
Done. There's currently very little information about how to register a new NCBI assembly, sorry. I'll need to improve this. In the mean time I expect that you'll have a lot of questions for me. I'm ready! :wink:

[2022-10-17 18:09] Priceless-P commented on #44
@hpages sure! 😂.

[2022-10-17 18:53] hpages commented on #44
One important link on the NCBI page for any assembly is the link to the "Full sequence report" on the right:

![Screenshot from 2022-10-17 11-24-34](https://user-images.githubusercontent.com/8810451/196258396-70931161-52e8-4810-ae0c-84fe2b41f680.png)

The  "Full sequence report" is a tab-delimited file describing all the sequences in the assembly. This is the file that `getChromInfoFromNCBI()` dow

[2022-10-17 20:26] Priceless-P commented on #44
Hi @hpages , As you said ,
[code]
But after adding  these lines of code to `/NCBI_assembliesCanis_lupus_familiaris.R`

[code]
I expected that `getChromInfoFromNCBI("Dog10K_Boxer_Tasha")` would work also but it doesn't. Please what am I missing? How do I get it to download the information on the "Full sequence report" page?

P:S: I didn't find any difference between GenBank and its RefSeq assembly

[2022-10-17 20:40] hpages commented on #44
Did you reinstall **GenomeInfoDb** after editing `Canis_lupus_familiaris.R` in [`GenomeInfoDb/inst/registered/NCBI_assemblies/`](https://github.com/Bioconductor/GenomeInfoDb/tree/master/inst/registered/NCBI_assemblies)?

Always reinstall the package and load it in a fresh R session to see the effects of your changes. In this particular case, before you even try `getChromInfoFromNCBI()`, you should

[2022-10-17 22:11] Priceless-P commented on #44
@hpages I reinstall `GenomeInfoDb` after the edit and also loaded it in a new session but `registered_NCBI_assemblies()` still didn't include `Dog10K_Boxer_Tasha`.  I have done it a number of times and it's the same result. I also tried to use the GenBank assembly accession, didn't also work.

[2022-10-17 22:40] hpages commented on #44
Where are you putting
[code]
exactly? This should be added to the `ASSEMBLIES` list in `Canis_lupus_familiaris.R`. Note that `ASSEMBLIES` is a list of lists. Currently its length is 5. After you add the new entry for `Dog10K_Boxer_Tasha`, it will have length 6.

[2022-10-17 22:47] Priceless-P commented on #44
Yes, I added it in the ` Canis_lupus_familiaris.R` file

Here's the full content of the file

[code]

[2022-10-17 23:18] hpages commented on #44
I just copied what you show above in my own `Canis_lupus_familiaris.R` file, reinstalled **GenomeInfoDb**, started a fresh R session, loaded **GenomeInfoDb** (with `library(GenomeInfoDb)`), and I get:
[code]
I don't understand why this doesn't work for you.

Can you commit your changes to your fork so I can look at it? Thanks

[2022-10-17 23:39] Priceless-P commented on #44
Then it must be from my end. I will keep trying it.

Here's my fork with the changes I made. https://github.com/Priceless-P/GenomeInfoDb/tree/Dog10K_Boxer_Tasha

[2022-10-18 00:15] hpages commented on #44
Your fork works fine for me. Here is a transcript of what I did (I do everything in a terminal):
[code]
As you can see: no problem! Can you perform those exact commands in a terminal?

[2022-10-18 02:25] kakopo commented on #49
Thank you so much @hpages. This really helped me, and has been extremely enlightening on so many levels!

[2022-10-18 02:32] kakopo commented on #49
I have been able to run most of the tests on my script successfully, save for executing FETCH_ORDERED_CHROM_SIZES(), which still doesn't return the expected dataframe. Finally, running R CMD build GenomeInfoDb produces the following error via cmd
* checking for file ‘GenomeInfoDb/DESCRIPTION’ ... OK
* preparing ‘GenomeInfoDb’:
* checking DESCRIPTION meta-information ... OK
Warning in file(con, "r"

[2022-10-18 02:40] kakopo commented on #49
This is the current state of my code, and nothing else in the package file has been tampered with

`GENOME <- "felCat9"
ORGANISM <- "Felis catus"
ASSEMBLED_MOLECULES <- paste0("chr", c(1:18, "X", "M"))
CIRC_SEQS <- "chrM"

library(IRanges)       # for CharacterList()
library(GenomeInfoDb)  # for fetch_chrom_sizes_from_UCSC()

.order_seqlevels <- function(seqlevels)
{
  tmp <- CharacterList(strspli

[2022-10-18 03:54] Simplecodez commented on #47
Good day I really appreciate your patient with me and your suggestion, but I have really done alot of research on this one to back out now.
I have created the Xenopus_tropicalis.R file and registered the organism but when I run R CMD check Xenopus_tropicalis.R, I get this error:
Error in getOctD(x, offset, len) : invalid octal digit. I don't know why sir.

[2022-10-18 04:55] hpages commented on #49
Glad it helped!

Please edit your last comment and replace the single backticks with triple backticks so that your code gets properly displayed. Single backticks are for inline code. See [here](https://www.markdownguide.org/extended-syntax/#fenced-code-blocks) for how to use triple backticks for code blocks in Markdown.

About this (from your code above):

    ASSEMBLED_MOLECULES <- paste0("chr",

[2022-10-18 05:16] hpages commented on #47
Hmm.. but you understand that all the research and work you've done so far won't be in vain because you'll resume your work on this issue after you're done with issue #46 right? Anyways, it's up to you.

This is not how we use `R CMD check`. Please read carefully my _IMPORTANT NOTES TO OUTREACHY APPLICANTS_ at the top of this issue.

Also it's too early to try to run `R CMD check`. The `R CMD buil

[2022-10-18 07:52] Priceless-P commented on #44
It works now.💃
Thanks a lot! @hpages I missed `R CMD install` earlier.

I ran `getChromInfoFromNCBI("Dog10K_Boxer_Tasha")` I noticed that `circ_seqs` should not be `chrM` so i checked [here](https://www.ncbi.nlm.nih.gov/assembly/GCF_000002285.5/) I saw it should be `MT` instead so I corrected it. I will be opening a PR now.

[2022-10-18 14:03] Simplecodez commented on #47
Good day sir, I have successfully installed the edit GenomeInfo locally and tested the registered_NCBI_assemblies("Xenopus tropicalis") functionality which returns the correct data. But when I try this function getChromInfoFromNCBI("UCB_Xtro_10.0"), an error saying: Error in function (type, msg, asError = True) : could not retrieve from host: ftp.ncbi.nlm.nih.gov

[2022-10-18 14:56] kakopo commented on #49
@hpages I think I am finally getting the hang of things. Here is the edited code to fix the `ASSEMBLED_MOLECULES` bit
[code]
I have successfully run the tests referenced in the `README.TXT` file as well.
The BSgenome file I am referencing is the one listed here [https://github.com/Bioconductor/BSgenomeForge/wiki/List-of-contribution-tasks-for-the-Outreachy-application-period](url) which helped me

[2022-10-18 15:05] Simplecodez commented on #47
Okay, sir. I will try again later.
Thank you.

[2022-10-18 15:06] hpages commented on #44
Note that you can also see this by looking at the "Full sequence report" for Dog10K_Boxer_Tasha [here](https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/002/285/GCF_000002285.5_Dog10K_Boxer_Tasha/GCF_000002285.5_Dog10K_Boxer_Tasha_assembly_report.txt). Mitochondrion is usually at the bottom of the file.

[2022-10-18 16:03] Priceless-P commented on #44
Okay. I have noted that. Thank you @hpages

[2022-10-18 16:10] hpages commented on #49
Hi @kakopo ,

That's it! Glad to see that you are making good progress.

Also it's great that you were able to come up with a working `FETCH_ORDERED_CHROM_SIZES()` function. Now we need to discuss the order in which the sequences are returned. This is a delicate topic and I will try to provide as much details as I can in the next comment below.

I guess you meant the **BSgenome** _package_, not _f

[2022-10-18 17:04] hpages commented on #49
@kakopo

Let's take a closer look at all the sequences in `felCat9`:
[code]

So, based on the number of parts in the sequence names, we can distinguish 3 groups of sequences. We already know that the first group contains all the so-called "assembled molecules". Now let's take a look at the 2 other groups.
[code]

**3-part seqlevels:** It seems that the seqlevels made of 3 parts are all of the form

[2022-10-18 17:57] kakopo commented on #49
@hpages I've edited the link, and yes, I did mean package, not file. Sorry for the mix up! Below is the current `.order_seqlevels()` function, which allows the unlocalized scaffolds to come before the unplaced scaffolds
[code]

[2022-10-18 18:54] hpages commented on #49
Great! Really good progress here.

Let's now discuss the order of the seqlevels _within_ each group.

- Unlocalized scaffolds (`<chromosome-name>_NW_xxxxxxx_random`) should be ordered first by chromosome (part 1), then by `xxxxxxx` (part 3).
- Unplaced scaffolds (`chrUn_NW_xxxxxxx`) should be ordered by `xxxxxxx` (part 3).

**Let's start with the unplaced scaffolds, since they seem to be a little

[2022-10-18 19:33] hpages commented on #44
PR #53 merged, thanks @Priceless-P !

Next task in your group is issue #45. Whenever you are ready, go there and ask me to assign you.

[2022-10-18 19:33] #44 closed

[2022-10-18 19:34] Priceless-P commented on #45
@hpages I’d love to work on this project as well. Please assign it to me.

[2022-10-18 19:40] hpages commented on #45
Done.

Again, very little information is provided in the `README.TXT` file located in [`GenomeInfoDb/inst/registered/UCSC_genomes/`](https://github.com/Bioconductor/GenomeInfoDb/tree/master/inst/registered/UCSC_genomes) about how to define `NCBI_LINKER`, I'm sorry. I'm going to try to improve that.

[2022-10-18 20:11] Priceless-P commented on #45
It's no problem. I think I figured it out. Please take a look at my PR and tell me if I did it correctly.

[2022-10-18 20:53] hpages opened #55 "Proposed contribution task for Outreachy applicants: Enable "offline mode" for canFam6"
This task depends on issue #43 being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

See `?getChromInfoFromUCSC` in the **GenomeInfoDb** package for information about the "offline mode". See `README.TXT` file in the [`GenomeInfoDb/ins

[2022-10-18 20:57] hpages opened #56 "Proposed contribution task for Outreachy applicants: Enable "offline mode" for xenTro10"
This task depends on issue #46 being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

See `?getChromInfoFromUCSC` in the **GenomeInfoDb** package for information about the "offline mode". See `README.TXT` file in the [`GenomeInfoDb/ins

[2022-10-18 20:58] hpages opened #57 "Proposed contribution task for Outreachy applicants: Enable "offline mode" for felCat9"
This task depends on issue #49 being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

See `?getChromInfoFromUCSC` in the **GenomeInfoDb** package for information about the "offline mode". See `README.TXT` file in the [`GenomeInfoDb/ins

[2022-10-18 21:06] kakopo commented on #49
Thank you. I've carried out all the necessary edits and tests, and everything looks good. I am curious as to the role of this line ` m41 <- match(m4[ , 1L], ASSEMBLED_MOLECULES)` in the code - it seemed to function well without it, but I'm sure its important nonetheless.
My current issue is that `R CMD build GenomeInfoDb` has simply failed to work as expected. This is its output via terminal
[code

[2022-10-18 21:28] Priceless-P commented on #55
@hpages Please can I work on this issue?

[2022-10-18 21:29] hpages commented on #45
Excellent. You nailed it again! PR #54 merged.

In this case it looks like there's a clean mapping between the sequences in `canFam6` and those in `Dog10K_Boxer_Tasha`. This keeps `NCBI_LINKER` relatively simple. Some mappings are more tricky and can require a lot of try/fail/fix cycles before getting `NCBI_LINKER` right. Look for example at `NCBI_LINKER` in `hg18.R`. The mapping between the seque

[2022-10-18 21:29] #45 closed

[2022-10-18 21:33] hpages commented on #55
Absolutely :smiley:

[2022-10-18 21:35] Priceless-P commented on #55
Thank you 💃

[2022-10-18 22:27] Priceless-P commented on #45
Now that you mentioned it, I checked it out. And it’s definitely more complex than compared to `canFam6`

I see that `chr22_h2_hap1` and `chr6_cox_hap2`.

 Perhaps we could fix that 🤔

[2022-10-18 22:59] hpages commented on #45
I don't know. Last time I checked (this was a long time ago), it didn't seem that the `chr5_h2_hap1` and `chr6_qbl_hap2` sequences in `hg18` could not be mapped to sequences in `NCBI36`. "Mapped" means that the DNA sequences are the same, only their names differ, so this implies that the sequence lengths are also the same.

The lengths of those sequences are:
[code]
But no sequences in `NCBI36` ha

[2022-10-18 23:17] Priceless-P commented on #45
Oh. I misunderstood that.

Okay😊

[2022-10-18 23:27] Priceless-P commented on #45
I also wanted to add that I’m more than willing to work on any issue at all. Just assign me and I’ll get to work immediately. 😊

[2022-10-18 23:46] hpages commented on #55
Nailed it again! PR #58 merged.

FYI I also made the additional changes:
- Add `canFam6`/`Dog10K_Boxer_Tasha` to the unit tests and bumped the package version from 1.33.12 to 1.33.13. See commit 6b2c1c62dc8cc7340a94183e3f071e860bb19c9d
- Add your name (Prisca Maduka) as a contributor to the package. See commit 703dafed141a99c9b4c87cc646031b729c93e5aa Hopefully you are you ok with that, but don't h

[2022-10-18 23:46] #55 closed

[2022-10-18 23:53] hpages commented on #45
Thanks for the offer! I will think about finding _real_ issues for you, that is, issues opened by Bioconductor users, in addition to the scripted issues that I specifically prepared for the Outreachy contribution period.

[2022-10-19 01:10] hpages commented on #49
That's a great question! I'll try to explain.

We could do:

    idx4 <- which(npart == 4L)
    m4 <- matrix(unlist(tmp[idx4]), ncol=4L, byrow=TRUE)
    stopifnot(all(m4[ , 2L] == "NW"))
    stopifnot(all(m4[ , 4L] == "random"))
    oo4 <- order(m4[ , 1L], m4[ , 3L])
    idx4 <- idx4[oo4]

and maybe that seems to work well. Note that `m4[ , 1L]` is a character vector containing _chromosome names_

[2022-10-19 04:23] Simplecodez commented on #47
Thank you sir, i just ran getChromInfoFromNCBI("UCB_Xtro_10.0") and it outputs the correct data.

This is the output of sessionInfo():
[code]
So sir, can i run R CMD build and R CMD check now?

[2022-10-19 04:35] hpages commented on #47
Great. If you're confident that everything looks good, then please proceed with the `R CMD build` and `R CMD check` steps.

If that goes as expected, then commit your work and submit a PR. Don't forget to add the `Xenopus_tropicalis.R` file (with `git add Xenopus_tropicalis.R`) before you commit.

You're showing the body of the function, not the output produced by calling the function. I need the

[2022-10-19 07:12] Priceless-P commented on #55
Wow! I'm honored! It's very okay with me. Thank you so much @hpages

Yes, you spelled it right. I would prefer if you add my middle name too.

That is great. I will keep an eye out for it.

I will head over there right now. Thanks again.

[2022-10-19 09:51] Simplecodez commented on #47
This is the output of the sessionInfo() sir:

[code]

[2022-10-19 13:12] Simplecodez commented on #47
Good day sir. This is the output of my sessionInfo():

[code]

[2022-10-19 15:15] hpages commented on #55
Just added your middle name. See commit 15bba778dfb62c8da49eb52a8afdfcfa0569c2b7

[2022-10-19 15:27] kakopo commented on #49
@hpages when you mentioned the fork, I realized the issue might be with it and not the package. I deleted everything and started from scratch- and it worked! I've been able to run `R CMD build GenomeInfoDb` successfully, thank you a tonne! I've installed the necessary packages after running `R CMD build GenomeInfoDb --no-build-vignettes` the first time, but running `R CMD build GenomeInfoDb` the s

[2022-10-19 16:41] hpages commented on #49
This looks like a TeX/LaTeX issue. TeX/LaTeX is required to build the Sweave vignettes contained in the package. Vignettes are documents located in the `vignettes/` folder of an R package. There are 2 types of vignettes: Sweave vignettes (extension `.Rnw`) and R Markdown vignettes (`.Rmd` extension). Only Sweave vignettes require TeX/LaTeX.

My understanding is that you are on Linux. If you are on

[2022-10-19 18:05] hpages commented on #47
Hi @Simplecodez ,

Thanks for providing your `sessionInfo()`. I see that you've installed R for Windows but that it's "running under Ubuntu 20.04 x64". This is a _very_ unconventional setup. I didn't even know it was possible! Did you install an Ubuntu terminal environment on the Windows Subsystem for Linux (WSL), as documented [here](https://ubuntu.com/tutorials/install-ubuntu-on-wsl2-on-windows-

[2022-10-19 19:00] kakopo commented on #49
@hpages it worked! Running `R CMD check GenomeInfoDb_1.33.13.tar.gz` brought about this error, similar to an error I'd seen on slack.
[code]
I added `--no-tests` and everything ran smoothly. Thank you so much for the assistance throughout!

[2022-10-19 21:31] Simplecodez commented on #47
I got this error when I ran ```R CMD build``

[code]

[2022-10-19 22:26] Linjelium11 commented on #50
Hello, I would like to work on this task

[2022-10-19 22:45] hpages commented on #47
@Simplecodez Did you see my answer on the community-slack?

[2022-10-19 23:02] hpages commented on #50
Hi @Linjelium11, these tasks are for Outreachy applicants. Are you an Outreachy applicant? If so, please contact me using my contact information provided on the Outreachy site and introduce yourself. Looking forward to hear from you. Thank you!

[2022-10-20 00:52] hpages opened #60 "Proposed contribution task for Outreachy applicants: Register UCSC genome gorGor6"
`gorGor6` is the latest UCSC genome for Gorilla (_Gorilla gorilla gorilla_). See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" page [here](https://genome.ucsc.edu/cgi-bin/hgGateway). This is the main entrance to the "UCSC Genome Browser". Find Gorilla in the UCSC species t

[2022-10-20 01:00] hpages opened #61 "Proposed contribution task for Outreachy applicants: Register NCBI assembly Kamilah_GGO_v0"
`Kamilah_GGO_v0` is a Gorilla assembly available at NCBI: https://www.ncbi.nlm.nih.gov/assembly/GCF_008122165.1/

Note that `Kamilah_GGO_v0` is the assembly that `gorGor6`, the latest UCSC genome for Gorilla, is based on. See "List of UCSC genome releases" at https://genome.ucsc.edu/FAQ/FAQreleases.html for all the genomes currently supported by UCSC.

Also check out the "Genome Browser Gateway" p

[2022-10-20 01:06] hpages opened #62 "Proposed contribution task for Outreachy applicants: Link gorGor6 (UCSC genome) to Kamilah_GGO_v0 (NCBI assembly)"
This task depends on issues #60 and #61 being completed first (i.e. PRs accepted and merged, and issues closed). Although it's not a requirement that the 3 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

The purpose of "linking" a UCSC genome to the NCBI assembly that it is based on, is to support the `map.NCBI` argument of the `getChromInf

[2022-10-20 01:15] hpages opened #63 "Proposed contribution task for Outreachy applicants: Enable "offline mode" for gorGor6"
This task depends on issue #60 being completed first (i.e. PR accepted and merged, and issue closed). Although it's not a requirement that the 2 tasks be completed by the same applicant, it will be a more interesting learning experience if they are.

See `?getChromInfoFromUCSC` in the **GenomeInfoDb** package for information about the "offline mode". See `README.TXT` file in the [`GenomeInfoDb/ins

[2022-10-20 09:55] Simplecodez commented on #47
Yes sir, I did. I am install knitr package now.
Thank you

[2022-10-20 12:57] Simplecodez commented on #47
Good day say. this is the result of ```R CMD check GenomeInfoDb_1.33.11.tar.gz```

[code]

[2022-10-20 16:23] hpages commented on #47
Hi @Simplecodez ,

It looks like you don't have the `pdflatex` command on your system. This command is part of TeX/LaTeX.

TeX/LaTeX is required to build the Sweave vignettes contained in the package. Vignettes are documents located in the `vignettes/` folder of an R package. There are 2 types of vignettes: Sweave vignettes (extension `.Rnw`) and R Markdown vignettes (`.Rmd` extension). Only Sweav

[2022-10-20 17:44] Iman-L commented on #50
Hello, this is Iman again. I would like to be assigned to this task.

[2022-10-20 17:58] Simplecodez commented on #47
Okay, sir. I will that and get back to you.
Thank you

[2022-10-20 18:54] hpages commented on #49
I just merged PR #59. Congratulation @kakopo  on your first contribution to Bioconductor! Don't forget to record it on Outreachy at https://www.outreachy.org/outreachy-december-2022-internship-round/communities/bioconductor/refactor-the-bsgenomeforge-tools/contributions/.

The next suggested task for you is #50. Whenever you are ready, go there and ask to be assigned. Thanks!

[2022-10-20 18:54] #49 closed

[2022-10-20 18:57] hpages commented on #50
@Iman-L This task is part of the "Cat" group. You'll be working on the "Gorilla" group. But first see the email I'm about to send you. Thanks

[2022-10-20 19:26] jeff-mandell commented on #26
Thank you, this is nice to have!

[2022-10-20 19:44] kakopo commented on #50
Hello @hpages could I please be assigned this task?

[2022-10-20 21:08] hpages commented on #50
Done. I'm ready to answer your questions, don't hesitate!

[2022-10-20 21:54] Iman-L commented on #60
Hello... Iman again, outreachy applicant. I am ready to work on this task. I have completed all the preliminary tasks but I can't see the option to assign myself to the issue.

[2022-10-20 22:29] kakopo commented on #50
Awesome!

[2022-10-20 23:03] hpages commented on #60
Great!

I just assigned you to this issue. Do not hesitate to ask questions, I'll do my best to help.

[2022-10-21 00:50] kakopo commented on #50
Hi @hpages. I am almost done with this task, however, I faced a few challenges. Most of them were solved because, thankfully,  I was able to refer to your conversation with @Priceless-P regarding issue #44. Turns out, I was facing about the same exact problem (Prisca has also assisted me tremendously via Slack). Still, on running `getChromInfoFromNCBI("Felis catus")` I get the following output:
[c

[2022-10-21 01:17] kakopo commented on #50
Hi @hpages. I am (tentatively) done with this task. I ran into a few issues, at least regarding unexpected output, but thankfully, I was able to refer to your conversation with @Priceless-P regarding issue #44. Turns out, I was facing the same exact problem and it helped. (Prisca has also assisted me tremendously via Slack). Everything prior to testing the package is as expected (via command line)

[2022-10-21 05:02] hpages commented on #50
@kakopo Great to hear that the discussion in issue #44 helped you, and that Prisca was able to assist you via Slack!

To me, your `Felis_catus.R` file looks good. I don't know why you're getting this error in the examples of the `seqlevelsStyle` man page. Looks like some connectivity issue with the NCBI FTP site (ftp.ncbi.nlm.nih.gov). Probably a temporary thing.

Try to run the examples in an int

[2022-10-21 10:43] kakopo commented on #50
`example(seqlevelsStyle)` worked instantenously. Thank you. I hadn't realised I'd left the c("MT") part of the code - I blindly referenced another script and had no idea I had kept it in. Definitely a lesson in being more intentional!
Otherwise, my curiosity lies in the fact that I noticed the fact that NCBI has 2 versions of the Felis catus assembly, with the more recent version containing a slig

[2022-10-21 16:59] hpages commented on #50
Hi @kakopo

Excellent!

`circ_seqs` stands for "circular sequences". All the sequences in a genome assembly are DNA sequences. Most of the time, DNA molecules are linear, but sometimes they are circular. For example, the autosomes in Human (that is, chromosomes 1-22, X, and Y) are linear DNA molecules. But the mitochondrial chromosome, which is a very small DNA molecule compared to the autosomes,

[2022-10-21 18:03] kakopo commented on #50
Quite interesting! I've just done a bit of light reading on the difference between circular and linear chromosomes and everything is definitely making much more sense. This entire field is quite complex, and quite interesting to dive into. Thank you for answering my questions, and for the resources, always.
I had made changes to get rid of the red circle. I am unsure as to why it is not reflecting

[2022-10-21 18:33] hpages commented on #50
Looks good on my end. See https://github.com/Bioconductor/GenomeInfoDb/pull/64/files

PR #64 merged, thanks @kakopo

Next task in your group is issue #51. Whenever you are ready, go there and ask to be assigned.

[2022-10-21 18:33] #50 closed

[2022-10-21 18:44] kakopo commented on #50
Awesome, thank you as well

[2022-10-21 18:46] kakopo commented on #51
Hello @hpages could you please assign me this task?

[2022-10-21 18:53] hpages commented on #51
Absolutely!

Done.

Again, very little information is provided in the `README.TXT` file located in [`GenomeInfoDb/inst/registered/UCSC_genomes/`](https://github.com/Bioconductor/GenomeInfoDb/tree/master/inst/registered/UCSC_genomes) about how to define `NCBI_LINKER`, I'm sorry. I need to improve that. In the meantime I will be available to answer any question you have.

[2022-10-21 20:32] kakopo commented on #51
Its no issue, @hpages. The task fairly easy to get through on an intuitive basis. I came across the same error as I mentioned in issue #50 while running R CMD check but its safe to assume internet connectivity is flaky here at this time. I have just submitted my code for a PR. I hope it is satisfactory.
What was interesting to see is that the data in the NCBI full sequence report for Felis_catus_9

[2022-10-21 21:19] hpages commented on #51
Good observation! I suppose you're talking about the mitochondrial sequence (`chrM` in UCSC, `MT` in NCBI). Yes, `getChromInfoFromUCSC()` and `getChromInfoFromNCBI()` both reorder the sequences to put all the assembled molecules first. The mitochondrial sequence is an assembled molecule, as you can see in the "Full sequence report" for `Felis_catus_9.0`.

[2022-10-21 21:24] hpages commented on #51
PR #65 merged. Great work!

Next task in your group is issue #57. Whenever you are ready, go there and ask to be assigned.

Also don't forget to record your contributions on Outreachy at https://www.outreachy.org/outreachy-december-2022-internship-round/communities/bioconductor/refactor-the-bsgenomeforge-tools/contributions/

[2022-10-21 21:24] #51 closed

[2022-10-21 21:54] kakopo commented on #57
Hi @hpages could I please do this task?

[2022-10-21 21:58] hpages commented on #57
The task is all yours.

[2022-10-21 22:09] kakopo commented on #57
Thank you! I've just submitted the PR.

[2022-10-21 22:15] kakopo commented on #51
Whoops! I've just noticed my previous message looked weird. My apologies. I've edited the text slightly. Thank you for the explanation.

[2022-10-21 23:15] hpages commented on #51
No worries, you're welcome.

[2022-10-21 23:51] hpages commented on #57
Thanks. PR #66 merged.

FYI I will also make the additional changes:
- Add `felCat9`/`Felis_catus_9.0` to the unit tests and bump the package version from 1.33.14 to 1.33.15.
- Add your name as a contributor to the package. Hopefully you are you ok with that, but it's totally fine if you are not. Don't hesitate to let me know. If you're ok with that, can you please clarify what your first, middle,

[2022-10-21 23:51] #57 closed

[2022-10-22 00:40] kakopo commented on #57
Great! This has been an awesome experience and I'm looking forward to the next task. I'm definitely okay with being added as a package contributor. Its really humbling watching one's effort join the work contributed by so many professionals in the field. Thank you.
I have sent you an email confirming my name details.

[2022-10-22 01:00] hpages commented on #57
Thanks for sending your name details.

Added to the package (see commit c8cf90a91068d7e739c129970945fda157b7fdb8).

The build results for **GenomeInfoDb** 1.33.15 will appear [here](https://bioconductor.org/checkResults/3.16/bioc-LATEST/GenomeInfoDb/) on Monday. If this new version passes BUILD and CHECK, then it will propagate to Bioconductor public repositories and become available via `BiocMana

[2022-10-22 01:50] Iman-L commented on #60
Thanks, I am working on it. Will ask whenever I get stuck

[2022-10-22 13:40] Simplecodez commented on #47
Good day sir. I am sorry for not getting back to you sooner. I have install texlive and the addition Debian packages. The result below is what I got after running ```R CMD build GenomeInfoDb```.
I also noticed that GenomeInfoDb_1.33.11.tar.gz has been created in the folder housing ```GenomeInfoDb```

[code]

[2022-10-22 13:40] Simplecodez commented on #47
Good day sir. I am sorry for not getting back to you sooner. I have install texlive and the addition Debian packages. The result below is what I got after running ```R CMD build GenomeInfoDb```.
I also noticed that GenomeInfoDb_1.33.11.tar.gz has been created in the folder housing ```GenomeInfoDb```

[code]

[2022-10-22 19:47] hpages commented on #47
@Simplecodez It's great that you were able to install texlive plus all the additional packages! So now it seems that you can successfully `R CMD build GenomeInfoDb`. That's really good progress.

One thing I notice is that your fork is still at version 1.33.11. However the **GenomeInfoDb** repository that you forked from is now at version 1.33.15. Please sync your fork. That will bring it at versi

[2022-10-23 00:26] Simplecodez commented on #47
I have synced my fork with the latest version and built and checked the files successfully I have also created a pull request.
Thank you sir

[2022-10-23 00:27] Simplecodez commented on #47
Can I start working on task #46?

[2022-10-23 02:11] Simplecodez commented on #46
Good day sir. I love to be assigned to this task

[2022-10-23 15:44] Simplecodez commented on #47
I noticed made some mistakes in my first commit so I closed the first pull request and opened another one. I hope there is no problem with that?

[2022-10-23 21:14] Simplecodez commented on #46
Hi @hpages. i just started working on it since i was going to be assigned to this task.
Below is the code of my work
[code]

[2022-10-24 02:59] hpages commented on #46
Hi @Simplecodez, I've just assigned you to this issue. Before I answer your question above, I'll take a look at the PR you submitted for the previous task (PR #68). Thanks for your patience.

[2022-10-24 03:01] hpages commented on #47
Absolutely. I just assigned you to the task.

No problem at all. Thanks for the PR. I'm going to take a look at it.

[2022-10-24 05:22] Simplecodez commented on #46
Alright sir. Thank you

[2022-10-24 05:24] Simplecodez commented on #47
Okay, thank you

[2022-10-25 09:33] Simplecodez commented on #47
Hi, @hpages. I just made the corrections pointed out in the PR I submitted and created and PR. I am anticipating your reply sir.
Thank you

[2022-10-25 09:36] Simplecodez commented on #47
I also didn't understand what you meant by indentation with tab and spaces, so I just copied a previous registration and edited it accordingly. I hope everything works fine now.
Thank you

[2022-10-25 19:02] Simplecodez commented on #47
I have made the corrections sir
Thank you

[2022-10-26 04:20] hpages commented on #47
Thanks for removing the tabs. More comments in PR #70. Please address so I can merge the PR and we can finally focus on task #46. Thanks again.

[2022-10-26 06:48] Simplecodez commented on #46
Hi @hpages please I am waiting for your response sir

[2022-10-26 14:08] hpages commented on #47
Hi @Simplecodez,

I just merged PR #70. :tada:

Congratulation on your first contribution to Bioconductor! Don't forget to record it on Outreachy at https://www.outreachy.org/outreachy-december-2022-internship-round/communities/bioconductor/refactor-the-bsgenomeforge-tools/contributions/.

Let's focus on #46 now. I'll go there and try to answer your questions.

[2022-10-26 14:08] #47 closed

[2022-10-26 15:42] Simplecodez commented on #47
Thank you very much sir. I am really honoured to be a contributor.
Thank you for your help and patience.

[2022-10-26 16:54] hpages commented on #46
Hi @Simplecodez ,

As I said, before moving to this new task, I wanted that we finish the previous one first. Thanks for understanding.

To work on this task, it's best to run the code in your `xenTro10.R` file manually. You can use `source()` to source the file, or you can copy-paste the content of the file in your R session.

As documented in the `README.TXT` file located in [`inst/registered/UC

[2022-10-26 17:05] Simplecodez commented on #47
Please sir how do I get my contribution link? Is it this: ```https://github.com/Bioconductor/GenomeInfoDb/issues/47

[2022-10-26 17:10] hpages commented on #47
Yes, I guess you are supposed to use the link to the GitHub issue for the task that you accomplished.

[2022-10-26 17:15] Simplecodez commented on #47
Okay, thank you

[2022-10-26 19:40] Simplecodez commented on #46
So sir, it means that this organism doesn't have an "X" chromosome
So that line of code should be ```ASSEMBLED_MOLECULES <- paste0("chr", c(1:9, "M"))```?

[2022-10-26 19:50] Simplecodez commented on #46
Thank you very much for this explanation. I got a lot of insights as to how the code works.

Pertaining excluding chromosome 10,  so this organism doesn't have an "X" chromosome?
So that line of code should be ```ASSEMBLED_MOLECULES <- paste0("chr", c(1:9, "M"))```?

[2022-10-26 20:01] hpages commented on #46
I don't know if the UCSC folks included the X chromosome or not. It could be that they didn't. If you don't see it in `seqlevels` after running the code above, that means that they didn't, which would be pretty unusual.

[2022-10-27 06:07] Simplecodez commented on #46
Yes I didn't see it in the seqlevels. So should I exclude it?

[2022-10-27 08:14] Simplecodez commented on #46
Good day sir. I just created a PR now on this issue. I will be anticipating your feedback

[2022-10-27 10:50] Priceless-P commented on #60
Hi @hpages, Can I work on this issue once I'm done with [this](https://github.com/Bioconductor/BSgenome/issues/39) ?

[2022-10-27 18:04] hpages commented on #46
Thanks for the PR @Simplecodez. It looks good.

For the sake of keeping the PR focused on the precise task described at the top of this issue, can you please remove the `NCBI_LINKER` component? Adding it will be the topic of the next task (#48).

Thanks again.

[2022-10-27 18:22] hpages opened #72 "Add 'organism' argument to registered_UCSC_genomes()"
We propose to add the `organism` argument to the `registered_UCSC_genomes()` function. Like for the `registered_NCBI_genomes()` function, the user will be able to use this argument to restrict the results returned by the function to the specified organism.

More precisely:
- The user will be able to pass a single string to `organism`.
- The supplied string will be used to perform a search (with `g

[2022-10-27 19:26] Simplecodez commented on #46
Okay sir, I have removed the NCBI linker component.
Thank you

[2022-10-27 20:09] kakopo commented on #72
Hello @hpages could I please work on this issue?

[2022-10-27 20:20] hpages commented on #46
Perfect @Simplecodez, thanks! I just merged PR #71.

Next task in your group is issue #48. Whenever you are ready, go there and ask to be assigned.

[2022-10-27 20:20] #46 closed

[2022-10-27 21:08] Simplecodez commented on #48
Good day sir, please assign me to this task.

[2022-10-27 21:10] Simplecodez commented on #46
Thank you very sir

[2022-10-27 22:18] hpages commented on #48
@Simplecodez Don't forget to record your contribution #46 on Outreachy!

[2022-10-27 22:22] Simplecodez commented on #48
Okay sir. Thank you

[2022-10-27 22:52] Simplecodez commented on #48
Sir, just created a PR for this task. I will be anticipating your feedback.
Thank you.

[2022-10-28 00:32] hpages commented on #48
All right @Simplecodez , I merged that (PR #74). Thank you!

Did you try to do `getChromInfoFromUCSC("xenTro10", map.NCBI=TRUE)`? Does it look like it's working properly?

You can also try `getChromInfoFromUCSC("xenTro10", map.NCBI=TRUE, assembled.molecules.only=TRUE)` to produce a smaller output. It will be easier to inspect visually.

[2022-10-28 00:37] Simplecodez commented on #48
Yes sir, I tried that and it returned the expected result

I will try this now

[2022-10-28 00:49] Simplecodez commented on #48
I just tried this now and everything works well.
Thank you.

[2022-10-28 01:02] Simplecodez commented on #56
Please assign me to this task.
Thank you

[2022-10-28 01:09] hpages commented on #48
Perfect :heavy_check_mark:

Next task in your group is issue #56. Whenever you are ready, go there and ask to be assigned.

Also don't forget to record your contributions on Outreachy at https://www.outreachy.org/outreachy-december-2022-internship-round/communities/bioconductor/refactor-the-bsgenomeforge-tools/contributions/

[2022-10-28 01:10] #48 closed

[2022-10-28 01:12] #33 closed

[2022-10-28 02:05] Simplecodez commented on #56
Sir, i just created a PR for this task. I will be anticipating your feedback.
Thank you.

[2022-10-28 06:40] hpages commented on #72
Sure. I'm sorry that I didn't answer your questions [here](https://github.com/Bioconductor/BSgenome/issues/43#issuecomment-1292764944) yet. I got a little distracted by other commitments. I'll try to get back to this ASAP.

[2022-10-28 07:05] hpages commented on #56
Thanks. PR #75 merged.

FYI I will also make these additional changes to the package:
- Add `xenTro10`/`UCB_Xtro_10.0` to the unit tests.
- Add your name (first and last names) as a contributor to the package. Hopefully you are you ok with that, but it's totally fine if you are not. Don't hesitate to let me know. Also let me know if you want your middle name to be added too (you can send it to me

[2022-10-28 07:05] #56 closed

[2022-10-28 07:48] Simplecodez commented on #56
Wow, I am so honoured sir. I am totally fine with my name being added as a contributor. I will send my middle name now sir.
Thank you for all the help you rendered to me.

[2022-10-28 08:57] Simplecodez commented on #56
I have just sent my middle name via email.
Thank you

[2022-10-28 14:21] kakopo commented on #72
Its no problem at all.

[2022-10-28 15:01] hpages commented on #56
Thanks, I just added you to the package (see commit 78ae8408fbd39b5d8e477190f26c993c44286178).

The build results for **GenomeInfoDb** 1.33.16 will appear [here](https://bioconductor.org/checkResults/3.16/bioc-LATEST/GenomeInfoDb/) tomorrow (Saturday). If this new version passes BUILD and CHECK, then it will propagate to the Bioconductor public repositories and become available via `BiocManager::i

[2022-10-28 15:09] Simplecodez commented on #56
Wow, I really honoured sir. Words can not express how I feel now. Thank you so much for all the support you gave me.

Alright sir. Looking forward to tomorrow.
Thank you

[2022-10-28 15:43] hpages commented on #56
You're welcome! :smiley:

[2022-10-29 21:12] Simplecodez commented on #56
Wow, I just checked the link again after checking earlier and **GenomeInfoDb** 1.33.16 is already there. Thank you for everything.

[2022-10-31 05:12] hpages commented on #56
My pleasure :smiley:  Don't miss the package landing page on our website (look at the `Author` field): https://bioconductor.org/packages/3.16/GenomeInfoDb :tada:

[2022-10-31 05:49] Simplecodez commented on #56
Wow, I am super excited and honoured sir. This means a lot to me. I am really blessed to have you as my mentor.
Thank you so much sir.

[2022-11-02 15:38] kakopo commented on #72
Hi @hpages. I have been attempting to carry out this task while heavily taking reference from `registered_NCBI_genomes()` within the `getChromInfoFromNCBI.R` script. Carrying out brute force testing has not yielded any results. I have only been able to modify the function to add `registered_UCSC_genomes <- function(organism=NA)` which returns the same results as `registered_UCSC_genomes <- functio

[2022-11-03 06:32] hpages commented on #72
Hi @kakopo,

First you want to spend some time in the code of the `registered_NCBI_assemblies()` function, and try to understand what the code does with the `organism` argument. The function is implemented [here](https://github.com/Bioconductor/GenomeInfoDb/blob/a476d37f191c6537a3dd1a75037c5ed79d8e2205/R/getChromInfoFromNCBI.R#L161-L197).

To do this, we need to go thru the body of the function, l

[2022-11-03 20:24] kakopo commented on #72
Hi @hpages. Thank you for the explaining how `registered_NCBI_assemblies()` works, it was very helpful and much simpler than how I had previously approached it. I managed to edit the `registered_UCSC_genomes()`. The package builds and checks well, but the function itself returns this error:
[code]
This is the current code for the second part of the function
[code]
I am unsure where exactly the cod

[2022-11-03 22:12] hpages commented on #72
Great, that's good progress!

The `registered_UCSC_genomes()` function is implemented [here](https://github.com/Bioconductor/GenomeInfoDb/blob/master/R/getChromInfoFromUCSC.R#L565-L622).

I can't see exactly what problem in your code could cause this error, I would need to investigate more. But I do see a problem: in your modified version of the function, `oo` is still computed but is no longer us

[2022-11-03 23:06] kakopo commented on #72
That awesome feeling when everything runs with no errors! Thank you! I did everything you recommended and it ran! I guess I just didn't understand well enough, and thought ` as.data.frame(ans[oo, , drop=FALSE])` was the same as `as.data.frame()`.
I edited the code as well, to follow

And yes, I agree, the "one operation per line" approach is much better. Thank you once more! I am going to submit a

[2022-11-04 01:44] hpages commented on #72
Perfect.

I know right? :smiley:

See #77 for some feedback on your PR. Thanks

[2022-11-04 16:08] hpages commented on #72
Hi @kakopo, I just merged your PR (#77). We can close this. Good job!

[2022-11-04 16:08] #72 closed

[2022-11-29 20:02] sopeadeniji opened #78 "Registration request for Catharus ustulatus NCBI assembly"
Hi, I would like to have the genome for Catharus ustulatus registered for the purpose of forging a BSgenome package. The assembly is bCatUst1.pri.v2 and the link to NCBI page is below:

https://www.ncbi.nlm.nih.gov/assembly/GCF_009819885.2/

Thanks

[2022-11-29 23:47] hpages commented on #78
Hi @sopeadeniji,

Note that registering the NCBI assembly is not required. It's just that, for an unregistered genome, you _must_ specify the `seqnames` field in your seed file. In the case of the Catharus ustulatus assembly, you could set `seqnames` like this:
[code]
Note that you will also need to specify the circular sequences:
[code]

More precisely, if the genome is registered in **GenomeInfo

[2022-11-30 16:28] hpages commented on #78
I'm not sure what you mean. The circular sequences are FASTA sequences that are included in the genome .fna.gz file, like any other sequence. Why would fasta_to_sorted_2bit.R need to give them special treatment?

[2022-11-30 17:45] hpages commented on #78
You would need to provide more information if you want us to be able to help e.g.
- what genome .fna.gz file are you using (NCBI provides two, `GCF_009819885.2_bCatUst1.pri.v2_genomic.fna.gz` and `GCA_009819885.2_bCatUst1.pri.v2_genomic.fna.gz`),
- what `fasta_to_sorted_2bit.R` script are you using (show us the script),
- your `sessionInfo()`.

Ideally you'd want to share all the information that

[2022-11-30 18:28] hpages commented on #78
So it looks like the major problem here is that `GCF_009819885.2_bCatUst1.pri.v2_genomic.fna.gz` is actually missing the bCatUst1_MT sequence: the file contains only 160 sequences out of the 161 sequences reported in the Full sequence report. So yeah, the only valid choice is to use `GCA_009819885.2_bCatUst1.pri.v2_genomic.fna.gz`.

I would suggest that you also use the GenBank assembly accession

[2022-11-30 21:14] hpages commented on #78
Anyways, I've just registered the bCatUst1.pri.v2 assembly in **GenomeInfoDb** 1.34.4: see commit cf8d71c1a5c9f87052586e6ef031c609a4d87822

This new version will become available in BioC 3.16 via `BiocManager::install()` in the next couple of days or so. If you use this version you shouldn't need to specify `seqnames` or `circ_seqs` in your seed file anymore. However please note that this new vers

[2022-11-30 21:28] sopeadeniji commented on #78
Hi Herve,
It worked! I used GCA_009819885.2_bCatUst1.pri.v2_genomic.fna.gz for genome sequence and GenBank accession number in fasta_to_sorted_2bit.R script as suggested. Here's the adjusted fasta_to_sorted_2bit.R below. Thanks a lot for your help.

dna <- readDNAStringSet("GCA_009819885.2_bCatUst1.pri.v2_genomic.fna.gz")

### Check seqnames.
current_GenBankAccn <- unlist(heads(strsplit(names(dna)

[2022-11-30 23:56] hpages commented on #78
Great! Did you also manage to use the `bCatUst1-pri.v2.sorted.2bit` file to forge the **BSgenome.Custulatus.NCBI.bCatUst1.pri.v2** package? In which case we can close this.